[2017-11-28 18:52] scopatz commented on #958
Hi @andrewryh - what version of CMake are you on? It seems that you have v3.9.  It looks like CMake is messing up because on your system it is prepending `${LAPACK_LIBRARIES}` and `${BLAS_LIBRARIES}` with `/opt/cray/lib64`, which is not a valid library name or flag.  Alternatively, you should now be able to do:

[code]

Also, I bet you do have openblas installed somewhere, because CMake is finding

[2017-11-28 18:52] scopatz commented on #958
Note that what is missing from the libraries is the `-L` prefix.

[2017-11-28 19:08] andrewryh commented on #958
Yes, I using Cmake/3.9.4. Is it too new?
No, it cannot find BLAS, I have just manually specied path on the command line:
`-DBLAS_LIBRARIES="/opt/cray/lib64 -lopenblas"`

Trying now with older Cmake and -L prefix, thanks

[2017-11-28 20:10] scopatz commented on #958
Ahh yeah, I think your CMake is probably new enough.  And yeah, it is really important to include the `-L`.  I wouldn't expect that `-DBLAS_LIBRARIES="/opt/cray/lib64 -lopenblas"` would work. Rather `-DBLAS_LIBRARIES="-L/opt/cray/lib64 -lopenblas"` should work.

[2017-11-28 21:48] andrewryh commented on #958
No luck again, now its cannot find `lpython2.7:`
[code]
And error again:
[code]

I have used cmake/3.1.3 and no specific path to LAPACK and BLAS:
`./setup.py install --user -DCMAKE_C_COMPILER=/opt/gcc/6.3.0/bin/gcc -DCMAKE_CXX_COMPILER=/opt/gcc/6.3.0/bin/gcc -DCMAKE_INSTALL_PREFIX=/projects/sciteam/bahg/pyne/exec`

I cannot understand why it is cannot find python2.7 library because python is here:

[2017-11-29 18:27] andrewryh commented on #958
Great, finally its compiled without errors with prefix:
`-DCMAKE_INSTALL_PREFIX=/projects/sciteam/bahg/pyne/exec`

I have added PYTHONPATH, LD_LIBRARY_PATH and PYTHONPATH:
`export PATH=/projects/sciteam/bahg/pyne/exec/lib/python2.7/site-packages:$PATH`
`export LD_LIBRARY_PATH=/projects/sciteam/bahg/pyne/exec/lib:$LD_LIBRARY_PATH`
`export PYTHONPATH=/projects/sciteam/bahg/pyne/exec/lib/python2.7/si

[2017-11-30 05:33] asmeurer opened #964 "Error building PyNE on OS X"
[code]

This is on latest `develop` after running a `git clean -dfX`.

[2017-11-30 05:35] scopatz commented on #964
Try installing moab

[2017-11-30 05:36] scopatz commented on #964
Or uninstalling it and doing a clean build

[2017-11-30 05:45] asmeurer commented on #964
Removing moab fixed it.

[2017-11-30 11:18] scopatz commented on #964
Great!

[2017-11-30 11:18] #964 closed, assigned to nobody

[2017-12-01 02:59] nnaemeka opened #966 "unable to import pyne"
In python. any time i try to import pyne it issues the following warning:

/home/robertnnaemeka/anaconda2/lib/python2.7/site-packages/pyne/__init__.py:15: Warning: Error importing PyNE: you should not try to import PyNE from its source directory; please exit the PyNE source tree, and relaunch your python interpreter from there.
  warn(msg, Warning)

Any help on the solution?

[2017-12-01 17:51] scopatz commented on #966
Hi @nnaemeka - interesting.  How did you install PyNE?

[2017-12-01 17:58] scopatz commented on #958
Hi @andrewryh  - Sorry for not getting back to you sooner.  I had a couple of crazy days.

I am glad that it is compiling now! This is a weird error. It seems like maybe the version of Python you are running with is different than the one you compiled against? I found this matplotlib issue which seems related: https://github.com/matplotlib/matplotlib/issues/6797/

In fact it does seem like the Pyt

[2017-12-01 20:29] andrewryh commented on #958
Hi @scopatz. Looks like I definitely messed up with python. I just remove everything and trying from scratch:
[code]

Interesting error: I did see GLIBC in PyNE dependencies....

[2017-12-01 20:57] scopatz commented on #958
Hmmm Maybe you need to add `/opt/gcc/6.3.0/lib` to your LD_LIBRARY_PATH

[2017-12-01 21:21] nnaemeka commented on #966
Thank you Anthony for your response. I apologize my response is coming
late. Today was dad's day at school and it made me busy.
I used conda method.
Later, I uninstall it and used the the pyne installation script to install
it and I can now import pyne. But a problem I now have is memory allocation
error. It is always throwing this error up. There is also an inability to
read ace file. It complain

[2017-12-01 21:58] andrewryh commented on #958
Great idea!
I had few paths in LD_LIBRARY_PATH which pointing to different `libstdc++.so.6`
So, removed wrong one and this error disappeared.

[2017-12-01 22:05] scopatz commented on #958
Woohoo!

[2017-12-01 22:11] andrewryh commented on #958
Yeah, it's compiled successfully again but import error still there:
[code]

Googling remedy now...

[2017-12-03 04:13] zxkjack123 opened #967 "Suggestion on IMeshTag about (N, 1) shaped array as input value"
Assuming that we have a mesh with `N` volume elements. Now we want to add an `IMeshTag` to the mesh.
If the data size for each volume element is greater than 1 (here notate it as `M`), we set the tag from a two dimensional np.ndarray of shape `(N, M)`. If the data size for each volume elements is 1, we usually set the tag from a one dimensional np.ndarry of shape `(N, )`. These two conditions are

[2017-12-03 23:11] nnaemeka commented on #966
Hi Anthony, I used the python notebook from one of the examples.
when I got to:
data.half_life('U-238')
command, it throws up this exception:

MemoryError                               Traceback (most recent call
last)<ipython-input-14-e9e30485b7e8> in <module>()----> 1
data.half_life('U-238')
data.pyx in pyne.data.half_life()
MemoryError: std::bad_alloc

The same occurs when I tried to find decay

[2017-12-04 03:38] scopatz commented on #966
Hi @nnaemeka - I just updated the PyNE conda package. If you would like to try that again, it may be easier than trying to figure out what is broken with your install.

[2017-12-04 03:54] scopatz commented on #967
I am in favor of doing what works to fix the problem.

[2017-12-04 04:40] nnaemeka commented on #966
Thank you Anthony. I will try it and get back to you.

On Dec 3, 2017 7:38 PM, "Anthony Scopatz" <notifications@github.com> wrote:

[2017-12-04 05:34] nnaemeka commented on #966
hi Anthony,
 I used conda to install it but the problem still persist. Maybe it is
because I didn't uninstall my earlier installation. How do I remove pyne
and have a clean re-installation?

On Sun, Dec 3, 2017 at 8:40 PM, Nnaemeka Nnamani <robertnnaemeka@gmail.com>
wrote:

--
Nnaemeka Nnamani,
Department of Nuclear Engineering,
University of California Berkeley.
California, USA.

[2017-12-04 15:40] scopatz commented on #966
You can use `conda remove pyne` to uninstall pyne. If you installed it via setup.py, you'll have to go to the install location to remove it.

[2017-12-04 16:58] scopatz commented on #958
What does `ldd /u/sciteam/rykhlevs/.local/lib/libpyne.so` say?

[2017-12-04 21:45] andrewryh commented on #958
[code]

[2017-12-04 22:17] andrewryh commented on #958
I have no clue how to fix it so far.
Looks like some portability problem related with GLIBC which is too old on our cluster.

[2017-12-05 15:25] andrewryh commented on #958
`ldd -d ldd /u/sciteam/rykhlevs/.local/lib/libpyne.so` say:
[code]

[2017-12-05 16:16] scopatz commented on #958
Hmm I wonder why it is linking against /lib64/libc.so, when you compiled it with `/opt/gcc/6.3.0/bin/gcc`. It seems like it should be linking against `/opt/gcc/6.3.0/lib/libc.so` (or similar), if it exists.  Can you try adding `/opt/gcc/6.3.0/lib` to the `$LD_LIBRARY_PATH`? Also, either here or in a gist, can you please post the full output of the build? This will let me know what the RPATH is bei

[2017-12-05 16:49] andrewryh commented on #958
Hi @scopatz, thanks for the answer.
There is no `libc.so` in `/opt/gcc/6.3.0/lib` but I did find one in `/lib64`
Here is my `LD_LIBRARY_PATH`:
[code]

[2017-12-05 16:52] andrewryh commented on #958
The full output here:
https://gist.github.com/andrewryh/63656376335040e119f6f10bcbaac866

[2017-12-05 16:52] scopatz commented on #958
Yeah, so I think you need to preprend `$LD_LIBRARY_PATH` with `/opt/gcc/6.3.0/lib64` then.

[2017-12-05 16:54] andrewryh commented on #958
I don't have `/opt/gcc/6.3.0/lib64` directory but have /opt/gcc/6.3.0/snos/lib64:
[code]

[2017-12-05 16:55] scopatz commented on #958
Oh I see, sorry, I misread what you wrote above

[2017-12-05 21:18] scopatz commented on #958
OK, this is interesting.  It seems that the dir where libc is installed (that should be used) is not making it into the RPATH. Setting LD_LIBRARY_PATH or LIBRARY_PATH should have fixed that, but we should also fix it in the build system too.

[2017-12-05 21:42] andrewryh commented on #958
Thanks, @scopatz . I'll try to find right `libc` and add in my LD_LIBRARY_PATH.
But I feel like on the cluster there is too old version of the file..

BTW, should I recompile PyNE after changing LD_LIBRARY_PATH?

[2017-12-05 22:14] scopatz commented on #958
Well, these symbols are still being picked up at compile time.

I don't think you need to.

Also, now the more I look at it, it seems like it is C++ that isn't being linked in properly.  Note that all the symbols that are missing are from the C++ standard library.  Also, on my machine.

[code]

Note that you don't have a line that looks like the following in your ldd:

[code]

Where is your libstd

[2017-12-05 22:38] scopatz commented on #958
Hi @andrewryh - I have also PR'd #972, which I am hoping addresses this issue for you.

[2017-12-06 18:42] andrewryh commented on #958
Hi @scopatz. Fresh error during compilation appears: https://gist.github.com/andrewryh/5663348de08b0ca750336374a3be828b

Any help very appreciated

[2017-12-06 19:05] scopatz commented on #958
Hmm this seems to just push the missing C++ STL back into the compile stage, which I suppose is a good thing...

[2017-12-06 19:13] scopatz commented on #958
Rather than setting `-DCMAKE_CXX_COMPILER=/opt/gcc/4.9.3/bin/gcc` in your setup.py line, can you try setting `-DCMAKE_CXX_COMPILER=/opt/gcc/4.9.3/bin/g++` instead.  Sometimes this makes a difference as to what libraries are linked in by default.

[2017-12-06 19:15] scopatz commented on #958
Yeah, like [this indicates](https://stackoverflow.com/a/1001576/2312428), when using `gcc` and not `g++`, the C++ standard library has to be linked in explicitly.  I don't think we want to do that, and instead should pass in the C++ compiler.

[2017-12-06 19:53] andrewryh commented on #958
Sorry @scopatz, no luck again: https://gist.github.com/andrewryh/12b0f4e4ea0ac7c2b80995d0478ad588

[2017-12-06 19:54] andrewryh commented on #958
But I don't see any error at all....

[2017-12-06 19:57] scopatz commented on #958
Oh awesome, it solved the standard library issue.  Can you go back to develop and try using g++ there?

[2017-12-06 20:00] andrewryh commented on #958
You mean clone develop branch?

[2017-12-06 20:02] scopatz commented on #958
How are you getting the pyne sources now?

[2017-12-06 20:16] andrewryh commented on #958
` git clone -b develop https://github.com/pyne/pyne.git`

[2017-12-06 20:24] andrewryh commented on #958
PR #972 doesn't merged yet but I can change code manually

[2017-12-06 20:25] scopatz commented on #958
Hmm weird, it doesn't merge?  I don't think you need #972

[2017-12-06 20:26] scopatz commented on #958
Can you update your develop maybe? `git pull https://github.com/pyne/pyne.git develop`

[2017-12-06 20:33] andrewryh commented on #958
I did update it but seems it was already up-to-date develope source.
So, build output still the same...

[2017-12-06 20:41] scopatz commented on #958
Did you do a clean build?

[2017-12-06 20:42] andrewryh commented on #958
Yes, I even did: `rm -rf pyne` and clone develop branch from scratch

[2017-12-06 20:43] scopatz commented on #958
oof ok...

[2017-12-06 20:48] andrewryh commented on #958
And finally...success: https://gist.github.com/andrewryh/4b89ddaaf6117880c6473b4a4460a05b

[2017-12-06 20:49] andrewryh commented on #958
Horray !!!!
[code]

[2017-12-06 20:51] andrewryh commented on #958
So, from cluster's python manual:
[code]

But I exported only first 2:
[code]

So, I guess we just have weird python package on our cluster.
Thank you @scopatz !

[2017-12-06 20:51] #958 closed, assigned to nobody

[2017-12-06 20:52] scopatz commented on #958
Wooohoo!  What changed and how can we make this easier?

[2017-12-06 20:52] scopatz commented on #958
Ahh that makes a lot of sense :)

[2017-12-06 20:53] andrewryh commented on #958
Great!
It's working!

[2017-12-11 21:33] bkg042 commented on #966
Hey @scopatz and @nnaemeka.

I too am having issues importing PyNE. Also installed via conda (it was the miniconda packaged with MOOSE if that matters). Any suggestions?

/opt/moose/miniconda/lib/python2.7/site-packages/pyne/__init__.py:15: Warning: Error importing PyNE: you should not try to import PyNE from its source directory; please exit the PyNE source tree, and relaunch your python interpre

[2017-12-11 21:53] nnaemeka commented on #966
Hi,
After getting tired trying to install pyne, I decided to explore openmc.
While trying to install openmc I experienced similar problem. On taking a
look at openmc Google user group, I learnt it is anaconda that is the
cause. So, I uninstalled anaconda and installed all dependencies myself on
python2.7 that is already in my windows Ubuntu subshell. Now openmc is
working.

I haven't tried to inst

[2017-12-11 22:01] bkg042 commented on #966
@nnaemeka  I'll be sure to try that, thanks for the tip!

[2017-12-12 18:33] zxkjack123 commented on #967
The modification in #971 has been merged into develop.

[2017-12-12 18:33] #967 closed, assigned to nobody

[2018-01-16 21:50] gonuke opened #978 "Top-level design of workflow support script(s)"
* Create a directory for GT-CADIS files
* Move outline from project description to a README in that directory
* include a link to @biondo's figshare DOI

[2018-01-17 15:05] gonuke opened #980 "Move iMesh,iterate calls to pyne.mesh"
A majority of `pyne` modules that import `pytaps` follow a pattern in which they only touch the `pytaps` API by calling `iMesh.iterate()`.

By creating a `pyne.mesh.iterate()`, that simple wraps the PyTAPS method (for now), we can reduce the footprint of PyTAPS in PyNE

[2018-01-17 15:07] gonuke commented on #955
https://docs.google.com/spreadsheets/d/18e8w1PZhQ90E74o4Ok_8L_NkcqL4deDc9je-YVS0opU/edit#gid=0

[2018-01-26 19:47] reflynn opened #982 "Error with nuc_data_make with Python 3.6"
nuc_data_make does not finish:

`Traceback (most recent call last):
  File "scripts/nuc_data_make", line 6, in <module>
    main()
  File "/home/reflynn/.local/lib/python3.6/site-packages/pyne/dbgen/nuc_data_make.py", line 155, in main
    make_map[mo](args)
  File "/home/reflynn/.local/lib/python3.6/site-packages/pyne/dbgen/atomic_mass.py", line 144, in make_atomic_mass
    with tb.openFile(nuc_d

[2018-02-01 20:49] zxkjack123 opened #983 "ZeroDivisionError happened when nuc_data_make"
Python version: 2.7
Error information:
[code]

[2018-02-01 21:04] zxkjack123 commented on #983
I find that this happens when at this function:`_halflife_to_seconds(value, err, units)` of `pyne/ensdf.py`.
While the parameters are:
`_halflife_to_secondes(0.15, 0.15, MeV)`.

Here, `value` equals to `err`, causes the `(value - minus)` equals to 0, thus ZeroDivisonError happens.

Suggestion: check the divisor before the division.

[2018-02-06 18:56] kkiesling commented on #983
I am receiving the same error on a clean docker build (ubuntu 16.04) when `scripts/nuc_data_make` is run. My suspicion is this error was introduced in PR #961 (though wouldn't it have shown up in other peoples' builds?). It doesn't look like it would have been caught by CI since it comes at the nuc_data_make step.

@zxkjack123 I was able to get around this error by using PyNE version 0.5.10.

[2018-02-06 19:10] kkiesling opened #984 "URL needed for test data in test_endf.py no longer accessible"
As of this afternoon (if not earlier), the URLs for data used in the tests in `test_endf.py` below are no longer accessible. This causes the tests to fail with an error message.

`test_endf.test_u235`: http://t2.lanl.gov/nis/data/data/ENDFB-VII.1-neutron/U/235
`test_endf.test_discretize`: http://t2.lanl.gov/nis/data/data/ENDFB-VII.1-neutron/Ni/59
`test_endf.test_evaluation_neutron`: http://t2.lanl

[2018-02-08 17:23] kkiesling commented on #983
Pinging @pkienzle on this issue, since I believe this error was introduced in PR #961. It would not have been caught in CI though since CI does not run ./scripts/nuc_data_make.

[2018-02-11 20:19] cadangelo opened #985 "Perform discretization for a user defined Cartesian grid and write input file for deterministic adjoint photon transport"
[Step 1]
* Create script analogous to R2S
* One of the initial steps in GT-CADIS workflow
     * Write PARTISN input file for adjoint photon transport

* Generate configuration file that user will fill in
     * Path to hdf5 geometry file
     * Mesh discretization
     * Adjoint source cell ID
     * Source intensity

[2018-02-13 19:25] cadangelo opened #986 "Tool to generate T matrices for each material"
* Move gtcadis_tools into pyne
* Add documentation
* Add step to gtcadis script to automatically generate T given user-supplied values
        * material laden geometry
        * irradiation and decay times
        * neutron spectrum and flux magnitudes will be hard-coded for now, option for user-supplied values
          to be added in the future

[2018-02-14 18:07] cadangelo opened #987 "Tool to test SNILB for each material"
[Step 0]
* Move snilb_survey files into pyne
* Modify to get user-supplied values (currently hard-coded):
      * Materials
      * Neutron spectra
      * Irradiation and decay times
      * Mesh
* Add optional step to gtcadis script to perform sweep on all materials
* Add another option to print max deviation from eta = 1 for each material

[2018-02-15 15:06] makeclean opened #989 "Documentation not quite correct re python version"
We actually need python 2.7.8 as the minimum version, I happen to have access to a particularly decrepid 2.7.5 distro which fails to get cram stuff.

[2018-02-15 15:09] makeclean opened #990 "Discussion regarding modularisation"
I had a discussion with someone earlier on about this, but right now there is no really easy way to modularise PyNE so we can only pull and get stuff that one might actually want. For example, the nucname stuff and materials are really handy, I would like to use those in other scripts, but I dont need/want CRAM/Decay and a whole bunch of things, nor do I want their dependencies. Is there a way to

[2018-02-15 15:11] makeclean opened #991 "Warning/Build fail for soft dependencies"
PyNE has a number of JIT dependencies, like pytables the lack of presence of which is only found after building PyNE, its a bit abrasive for new users (that may have pretty tortuous ways of installing dependencies) to install a bunch, get over the install hurdle only to fail to import something they didnt realise they needed. Perhaps it may be good to have some additional searches in the CMake fil

[2018-02-15 16:09] cadangelo opened #992 "Perform matrix-vector multiplication to generate adjoint neutron sources from combined T matrices and adjoint photon sources"
* Add step to gtcadis script to automatically generate neutron source
* Read hdf5 mesh geometry containing adjoint neutron flux
* Read T matrix calculated in step 2
* Write hdf5 source mesh

[2018-02-15 16:28] cadangelo opened #993 "Write input file for deterministic adjoint neutron transport"
* Script to write PARTISN input file for adj neutron transport
* Input:
      * adj n source mesh generated by step 3 (hdf5)
      * material laden geometry file (hdf5)

[2018-02-15 21:25] gonuke opened #994 "Remove hard-coded strings from C/FORTRAN API to source_sampling"
The current interface hard-codes a number of strings (e.g. filenames and tag names) for `source_sampling` when called from FORTRAN.  It should be straightforward to push this up to the calling code to make PyNE's FORTRAN interface more flexible.

[2018-02-15 21:26] gonuke commented on #994
This was marked as `low hanging` because there exists a good model for this in DAGMC's wrappers for MCNP: https://github.com/svalinn/DAGMC/blob/develop/mcnp/mcnp_funcs.cpp#L50

[2018-02-15 23:35] gonuke commented on #986
Per CNERG group meeting discussion - probably makes sense to add this to `alara.py`

[2018-02-22 21:50] scopatz commented on #991
:+1: Would be happy to have this!

[2018-02-22 21:52] scopatz commented on #983
Hi All, I am a little confused.  Is this an issue on develop or not? Thanks!

[2018-02-22 21:53] scopatz commented on #984
Hi @kkiesling - I believe that ENDFB VIII is now out, so they probably got rid of the ENDFB VII files.  We should update.

[2018-02-22 22:10] scopatz commented on #989
Weird.  What was the error?

[2018-02-22 22:14] scopatz commented on #982
Thanks for reporting @reflynn.  Are you on the latest version of PyNE?  In the current version there are no references to `openFile` anywhere, which was the old API for pytables.

[2018-02-22 22:20] kkiesling commented on #983
Yes, it is on the develop branch. The error appears though when running nuc_data_make.

[2018-02-22 22:28] scopatz commented on #983
Seems like this should be a simple fix.  Are either of you willing to put in a PR? I'd really appreciate it!

[2018-02-22 22:42] scopatz commented on #966
Hi, we have updated the conda packages for pyne relatively recently. If you still are having issues with conda specifically, please feel free to reopen.

[2018-02-22 22:42] #966 closed, assigned to nobody

[2018-02-22 22:51] scopatz commented on #990
Hi @makeclean - I don't think that this would be too hard.  We'd just need to create groups of source files with different names.  Then the build system could read from an env var (which would could pass down to CMake with -D and via setup.py through an  argument).  The Python API that gets installed should match the parts of the C++ API that are installed.

I am open to this or other suggestions!

[2018-02-22 23:17] scopatz commented on #990
Also, pyne.h may need to written at build time

[2018-02-22 23:23] scopatz commented on #990
Which will then affect cpp_pyne.pxd

[2018-02-23 04:16] reflynn commented on #982
I reinstalled PyNE and got a different error this time:

[code]

[2018-02-23 18:32] scopatz commented on #982
hmm that function defintiely works.  Can you provide more detail please?  How you installed PyNE, what directory you are running from, etc? Thanks

[2018-02-23 20:03] cadangelo opened #1002 "Perform CADIS operations using adjoint neutron flux to generate WW and biased source for MC neutron transport"
* Used adjoint neutron flux to generate WW and biased source via CADIS method
* Input:
      * reshaped adjoint photon flux mesh (hdf5)
      * unbiased source mesh (hdf5)

[2018-02-23 21:42] kkiesling commented on #983
I don't think it actually is that easy of a fix. There is the simple "check if it is zero and make it something else" to stop creating an error, but we (@gonuke and others) just tried to figure out what that value should be and are unsure. I think it would be appropriate for @pkienzle to provide some guidance on this as the physics and understanding of the data behind it seem to be a bit more in d

[2018-02-23 21:53] ghost opened #1003 "Switch to scikit-build"
`setup.py` should use scikit-build and all of the custom logic should be moved into CMakeLists.txt in order to ensure cross-platform reliability.

[2018-02-23 22:05] scopatz commented on #1003
Always happy to have a PR that improves the build system :)

[2018-02-25 20:21] pkienzle commented on #983
Yes, the interpretation is challenging.  Since energy cannot be negative, then 0.15 MeV +/- 0.15 MeV clearly cannot represent a gaussian uncertainty.  Furthermore, the 1/x transformation drives the half-life to infinity as energy goes to zero.

Doing a bit of simulation (sampling from a gaussian of the given width in energy truncated below zero and histogramming the converted result), the current

[2018-02-27 22:05] scopatz opened #1004 "MOAB 5"
PyNE now seems to fail to compile or link against MOAB v5. cc @pshriwise @gonuke etc.

[2018-02-28 04:32] gonuke commented on #1004
Are you noting this as a change? As far as we know it never compiled/linked against MOAB v5.

There may be some quick hacks, but a key need that we are trying to work on is dropping PyTAPS for pyMOAB

[2018-02-28 05:09] gonuke commented on #1004
This is addressed (or was mostly addressed at the time) by #899

I think that it may still be a race-condition issue of updating the pyne-deps docker image with MOAB v5 in order to show that this passes tests,... but we can't do that until we are sure that it passes tests.... and repeat...

[2018-02-28 05:10] gonuke commented on #1004
I recall now that #899 handles some changes in the interface for accessing `DAGMC` related stuff, but I'm not sure that there is, or ever will be, a version of PyTAPS that works with MOAB v5.

[2018-02-28 16:17] scopatz commented on #1004
Sorry for not being more clear.  There is now a conda-forge MOAB v5 package.  This breaks the pyne package because pyne was not pinned to use MOAB v4.  So in the short term it is probably a good idea to pin the pyne package to use moab 4, but in the long term I think we should ditch moab v4.

[2018-02-28 17:18] scopatz commented on #983
I am able to reproduce this.  It is quite the problem now because the conda packages are broken (due to MOAB) and we can't regenerate them due in part to this issue.

[2018-02-28 17:24] scopatz commented on #983
@pkienzle - your fix seems to work! Thanks!

[2018-02-28 21:50] scopatz commented on #983
Fix is available in #1005

[2018-03-01 17:43] kkiesling commented on #984
Hmm, the urls do seem to work now so the issue may have just been temporary.

[2018-03-01 17:59] scopatz commented on #984
Yeah I could not reproduce yesterday

[2018-03-01 18:03] kkiesling commented on #984
A non issue then. Closing.

[2018-03-01 18:03] #984 closed, assigned to nobody

[2018-03-01 18:17] #983 closed, assigned to nobody

[2018-03-02 21:58] gonuke opened #1007 "Mechanism for concisely providing nuclide names in MATXS libraries"
The library used by PARTISN allows for each nuclide to be arbitrarily named by the library creator.  This renders PyNE's nucname capability a little useless because it doesn't know how to translate a canonical definition.

It should be possible to allow users to specify a list of nuclide names that are different from that produced by `nucname.name()` (and only those that are different) as a transl

[2018-03-02 22:12] gonuke opened #1008 "Allow users to override default PARTISN settings in GT-CADIS workflow"
Currently (#1006), the PARTISN settings are set in the GT-CADIS file.

It should be possible to establish some defaults, but allow the user to override them selectively in their `config.ini` file.

[2018-03-06 23:01] KennellyT opened #1012 "Downloading Pyne"
Hey, This is Tyler Kennelly.

Currently I am trying to download pyne and I am having issues downloading pyne via conda.
I have tried:
conda install -c cyclus -c pyne pyne=VERSION
where version is 0.5.11 and it stated that,
"PackagesNotFoundError: The following packages are not available from current channels:

  - pyne=0.5.11

I attempted to install Pyne via the oracle virtualbox, but the pyne.ova

[2018-03-06 23:21] scopatz commented on #1012
Hi @KennellyT  are you using conda on windows?

[2018-03-06 23:38] KennellyT commented on #1012
Hi @scopatz
I currently have  anaconda2 and anaconda3 on windows 64.

[2018-03-07 02:57] scopatz commented on #1012
Ahh yeah, that error message is correct, then.  PyNE does not currently support Windows.  Though #1001 is a pull request aims to add Windows support.  If you'd (or anyone else) would like to help out with that effort, that'd be great!

[2018-03-07 19:23] KennellyT commented on #1012
Ah, I see. Ok Ill take a look at #1001!
Thank you!

[2018-03-08 13:18] gonuke commented on #1012
@scopatz - I also noticed that @KennellyT was using the `cyclus` channel.  Is that preferred over the `conda_forge` channel?

[2018-03-09 15:27] scopatz commented on #1012
Ahh this is a fair point.  I don't think it would have changed the outcome, but in general yes. The cyclus channel doesn't really have anything in it anymore (in order to avoid confusion), but the pyne channel still has some MOAB /CGM / PyTAPS packages.

We should be using the conda-forge channel from now on.

[2018-03-13 19:59] ASamarkRoth commented on #1012
Could you change the instructions in the readme:

` conda install -c cyclus -c pyne pyne=VERSION`

to:

`conda install -c conda-forge -c pyne pyne=VERSION` ?

I could not manage otherwise (on Ubuntu 16.04).

[2018-03-21 23:03] zxkjack123 opened #1016 "r2s runs with `source.h5m` for subvoxel r2s without error message"
PyNE can perform both r2s and subvoxel r2s now. When I was calculating a simple geometry with  both r2s and subvoxel r2s, I mistook the 'source.h5m' file (using 'source.h5m' produced for subvoxel r2s to do the normal r2s calculation).  Then r2s photon transport ran without error message, but produced a wrong result. It's hard for user to realize that they get a wrong result.
A check should be adde

[2018-03-22 20:35] zxkjack123 commented on #1016
I made a PR to fix this problem. See PR #1017 .

[2018-03-24 00:11] zxkjack123 commented on #1016
After applying the #1017, when users run DEFAULT r2s with a `source.h5m` file that produced by a SUBVOXEL r2s process, there is an error message and the program aborted successfully.
Below is an example message of that unsupported user behavior:
[code]

As the check code in #1017 works as expected (terminate the program and give an error message), close this issue.

[2018-03-24 00:11] #1016 closed, assigned to zxkjack123

[2018-03-29 13:44] AGHVogt opened #1020 "data.gamma_xrays runtime error"
Hi, this is Andreas Vogt.
When calling
In [8]: data.gamma_xrays(892270000)
I get the following runtime error:

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-7-4e8f7ba066c4> in <module>()
----> 1 data.gamma_xrays(892270000)
data.pyx in pyne.data.gamma_xrays()
RuntimeError: P��

O

[2018-04-02 17:34] scopatz commented on #1020
Hi @AGHVogt - yeah, I suppose that this nuclide is not in the data set.  Have you checked the h5 file to see if it is actually present?

[2018-04-03 08:00] AGHVogt commented on #1020
The nuclide has to be in the dataset since the following works:

In [5]: data.atomic_mass(892270000)
Out[5]: 227.027752283

In [7]: data.half_life(892270000)
Out[7]: 687072067.1999999

In [8]: data.decay_const(892270000)
Out[8]: 1.0088420322262598e-09

In [10]: data.decay_children(892270000)
Out[10]: set([872230000, 902270000])

In [11]: data.branch_ratio(892270000,902270000)
Out[11]: 0.9862000000

[2018-04-03 20:21] scopatz commented on #1020
Hi @AGHVogt, unfortunately just because a nuclide is in one part of the database doesn't mean that it is in another.  The point is well taken about not throwing an error, though, and returning an empty list. I can make this change.

[2018-04-03 20:37] scopatz commented on #1020
Oh weird this is a not-a-nucliude error when I try it.  This seems to be a legit error

[2018-04-03 22:52] scopatz commented on #1020
Ho-kay! a fix is now available in #1021

[2018-04-04 21:55] #985 closed, assigned to cadangelo

[2018-04-05 16:44] gonuke opened #1023 "Cleanup handling of `id_from_level`"
As first identified in #1020, `data.id_from_level()` can return negative results.  This appears to be intended as a "flag" of some kind but the only current uses of this function in PyNE do not check for the negative value.

#1021 applies a bandaid to resolve the immediate problem, but does not address the underlying issue.

Someone should seek to better understand the circumstances under which `i

[2018-04-05 16:45] #1020 closed, assigned to nobody

[2018-05-05 23:24] KennellyT opened #1029 "Downloading Pyne on ubuntu 14.04"
Hey,
I am Tyler Kennelly and I am trying to download pyne onto ubuntu 14.04.
I have tried source build but it is having issues with recognizing Cmake (Figure 1)
I have also tried to gather it from conda install but it does not recognize the version number 0.5.11
I tried to gather the developer version as well but the conda-recipes-master does not take the input "pyne". (Figure 2)

Has anyone else

[2018-05-06 13:51] katyhuff commented on #1029
In the first frame, it is recognizing CMake. CMake appears to be running, but then throws an error during the build. The error will be in the CMakeError.log file referenced in the error.

I'm not sure what's up with the conda build.

[2018-05-07 15:47] KennellyT commented on #1029
Thank you Dr. Huff, I will check the CMakeError.log file for its information.
Thank you

[2018-05-10 21:02] moatazharb opened #1030 "Broken PyNE data URL"
PyNE nuc_data_make fails to retrieve prebuilt data from http://data.pyne.io/

[2018-05-10 21:07] scopatz commented on #1030
Can you please provide a traceback? Thanks for reporting @moatazharb

[2018-05-10 21:11] moatazharb commented on #1030
![pyne_data](https://user-images.githubusercontent.com/5401832/39894531-c2ff5f74-546c-11e8-922d-414fe2528dc7.png)

[2018-05-11 20:01] KennellyT opened #1031 "use_fast_endftod import name issue"
I recently source installed Pyne for Linux. I was able to install--user but when I tried to build and install a database of nuclear data via:
scripts/nuc_data_make
I received an issue:
cannot import name 'use_fast_endftod'
After going through the source code online: http://fuelcycle.org/cyclus/api/namespacepyne.html#a314ad855be2083a69c8c807b137466ac

I was wondering what this name/function does an

[2018-05-11 20:21] gonuke commented on #1030
Should we move this data to the pyne/data repo?

[2018-05-11 20:50] moatazharb commented on #1030
It's working now. Thank you

[2018-05-14 03:27] #1030 closed, assigned to nobody

[2018-05-15 15:20] katyhuff commented on #1031
I'm not sure of the solution or the cause by looking at this briefly, but I suspect more reading might reveal the solution.

Slightly more information can be found through the pyne docs (you have linked the cyclus version of the pyne docs...)

See: http://pyne.io/devsguide/endf.html?highlight=endftod

and : https://github.com/pyne/pyne/blob/c0ba8ba30bc566811f6ee02251997063d795530c/pyne/_utils.pyx#

[2018-05-15 15:29] KennellyT commented on #1031
Thank you for the links.
After looking at the second link (pyne/pyne/_utils.pyx), I think I now know where it the issue is coming from.
Thank you.

[2018-05-15 15:30] katyhuff commented on #1031
![bitmoji](https://render.bitstrips.com/v2/cpanel/f3b1c198-8c3a-4386-a2de-5902bf7309df-aef391d1-ee2a-4ffc-b1c7-1c24444a7cae-v1.png?transparent=1&palette=1&width=246)

[2018-05-16 15:36] #1029 closed, assigned to nobody

[2018-05-16 15:38] katyhuff commented on #1029
Hi @KennellyT , can you please summarize what you determined was the source of this issue (for posterity? https://xkcd.com/979/ )

![https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png](https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png)

[2018-05-16 15:50] KennellyT commented on #1029
It seems that the main issue(s) I have had with pyne came from where I downloaded PYNE from. For example, when I downloaded PYNE as:
conda install -c cyclus -c pyne pyne=VERSION

Issues such as utils.py not having use_end_ftod in utils.py, or nuc_data_make wouldn't be recognized.

When I found and installed PYNE via conda-forge:
conda install -c conda-forge -c pyne pyne=VERSION

The download was s

[2018-05-16 15:58] katyhuff commented on #1029
Thanks!

[2018-05-18 21:13] KennellyT opened #1032 "Pyne Tutorial Nuclear Data: Half Life Plot"
Hey,

I was going through the PYNE tutorial on nuclear data and I noticed that the Half life plot would not plot. I found the issue was that the 'anums' variable was mapping a function to a list but it would not accept the type inside the list for some reason. I made another variable called 'NuclearName' that made all the  data in f.root.decay.level_list[:]['nuc_id'] an int as seen below:

Nuclear

[2018-05-19 14:42] KennellyT opened #1033 "rxname issue"
I was going through the nuclear data tutorial when I hit a bug with the rxname.child() function.
When the 'a_br' variable is called:
a_br = data.branch_ratio(922290000,rxname.child(922290000,'a','decay'))
it outputs:
TypeError: expected bytes, str found (figure 1)

It seems that the issue is in the third input of rxname.child function ('decay'):
rxname.child(922290000,'a',**_'decay'_**)

When left

[2018-05-19 14:45] scopatz commented on #1033
Hi @KennellyT - thanks for pointing this out.  That function should be extended to also accept strings.  To get it running right now, you can use a bytes object for the third argument:

[code]

[2018-05-19 14:52] KennellyT commented on #1033
Hey @scopatz - Thanks for the quick response!
Your answer works and corrects the issue!
Thank you!

[2018-05-19 15:26] scopatz commented on #1033
Great! And a more permenant fix is in #1034

[2018-05-19 15:29] scopatz commented on #1032
I think a pull request here would be great!

[2018-05-19 16:00] KennellyT commented on #1033
Nice!
Thank you

[2018-05-19 16:00] #1033 closed, assigned to nobody

[2018-05-19 16:01] KennellyT commented on #1032
Great! I have just submitted the pull request.

[2018-05-19 16:01] #1032 closed, assigned to nobody

[2018-05-21 18:23] KennellyT opened #1036 "Tutorial print function in python 2"
Hey,
I was going through the tutorials and I noticed that all the tutorials' print functions are written as:

print variable (python 2)
instead of:

print(variable) (python 3)
I was wondering if the print functions should be updated to the python 3 way. I have been working through the tutorials and updating them so they are concurrent with python 3. Should I pull request these as an update(s)?

Th

[2018-05-21 18:49] KennellyT opened #1037 "05-cross-sections cache: xscache EAFDataSource, dst_group_struct"
Hi,
As I was parsing through the 05-cross-sections tutorials after running (Cross Section Caching):
[code]

I found this bug:
`'EAFDataSource' object has no attribute '_dst_group_struct'`
I have attached the figure of this bug below in figure 1.

I was wondering if this is just a spelling error as the attribute "dst_group_struct" is found in all the files prompted but "**_**dst_group_struct" (note

[2018-05-24 14:24] KennellyT opened #1040 "Decay chain flow diagram idea"
Hey Pyne team,

I was going through the Pyne documentation and found the data.decay_data_children function. Recently I wrote up a basic code (figure 1) that allows the user to call a nucname.id and the amount of generations they want and the code will print out the decay chain for the nucname.id.
I have not been able to find the probability of a certain decay type for isotopes that decay in many f

[2018-05-24 17:11] scopatz commented on #1040
Hi @KennellyT - we'd love to have a function link that!  Please put in a PR

Note that we also have a function which will plot the decay chain for a nuclide.  It is the `graph()` function in the `pyne.gui.decaychain` module.

[2018-05-29 19:06] KennellyT commented on #1040
Hi @scopatz
I just used the pyne.gui.decaychain graph and it looks great! I will continue my work on the decay chain information function but incorporate it with pyne.gui.decaychain.
Thank you!

[2018-05-29 19:06] #1040 closed, assigned to nobody

[2018-05-29 19:21] scopatz commented on #1040
Great thanks!

[2018-05-30 15:07] KennellyT commented on #1007
Hey @gonuke,
Is the PARTISN library you are speaking in MATXS-Format [Nuclear Data Library](http://atom.kaeri.re.kr/NDVG/)? I would like to tackle this issue but I want to make sure that the this is the correct library/format.
Thank you

[2018-05-31 13:21] scopatz commented on #1037
Thanks for reporting @KennellyT! The leading underscore is likely not a typo, but rather where the DataSources store the `dst_group_struct` internally. This is therefore likely a bug.

[2018-05-31 14:23] KennellyT commented on #1037
Hey @scopatz,

An update I have is that this bug does not require EAFDataSource to be in XSCache for it to occur. For example see figure 1. I will be looking through pyne.xs.cache.XSCache for a possible fix.

![image](https://user-images.githubusercontent.com/31637359/40787814-22a4061c-64b4-11e8-8193-3296e0641f97.png)

[2018-05-31 14:45] KennellyT commented on #1037
Possible find:
In the other data sources in data_source.py, they have `_dst_group_struct=None` defined within them as seen in class ENDFDataSource(DataSource).
`class ENDFDataSource(DataSource):`
`def __init__(self, fh, src_phi_g=None, dst_group_struct=None, **kwargs):`

 EAFDataSource does not have `_dst_group_struct=None` defined nor mentioned in its class:
`class EAFDataSource(DataSource):`
[co

[2018-05-31 15:07] scopatz commented on #1037
yeah, that seems to be the issue. But I wonder if the cache is making an incorrect assumption, or if EAF is not implemented correctly.

[2018-05-31 15:22] KennellyT opened #1043 "cache.py, channels.py, sigma_s() issues"
Hey,
I was working with XSCache and channels and I noticed a reoccurring issue with sigma_s. When called as:
`sigma_s(10010000)`
an error pops up as:
![image](https://user-images.githubusercontent.com/31637359/40790554-e51e561a-64ba-11e8-83fd-71d488782edb.png)
The bug seems to propogating from channels.py:
[code]
where E_g is a none type.

[2018-05-31 15:25] scopatz commented on #1043
Hi @KennellyT, thanks for reporting! I think that this means that you have to set the `dst_group_struture` or the `E_g` in the cache

[2018-05-31 15:31] KennellyT commented on #1043
Hi @scopatz,
Thank you, that should work as I did not set the structure in the cache. I think this is more of a chain-fail  due to my issue with cache, #1037. Thank you, I'll close this issue.

[2018-05-31 15:31] #1043 closed, assigned to nobody

[2018-05-31 15:34] scopatz commented on #1043
Happy to help!

[2018-05-31 17:38] KennellyT commented on #1037
Good question @scopatz, I was looking at the structure of data_source.py and saw that dst_group_struct is defined twice as seen in figure 1. I also found this error in issue #810.
I am going to try and play around with EAF and add an dst_group_struct attribute to see if it fixes the bug.
![image](https://user-images.githubusercontent.com/31637359/40797939-618f639c-64cf-11e8-9455-e5b72999d344.png)

[2018-05-31 17:52] KennellyT commented on #1037
After going through the data sources example from pyne.io and having EAFDataSource with dst_group_struct work and run smoothly, I think this is an issue in cache.

[2018-05-31 22:19] gonuke commented on #1007
I think that's right.  We usually interact with them after they've been converted using `transx` into an xslib format, but I think the name gets set at or before the time of generating the MATXS file.  @kkiesling or @ngranda may be able to confirm this??

[2018-06-01 14:03] KennellyT opened #1044 "gammaspec.py"
Hey,
I was going through gammaspec.py and creating a tutorial for its usage and I ran into some issues.
When I ran:`
gammaspec.read_spe_file('/home/tyler/Documents/Cs-137_1min(1).spe')`
This error occurred:
[code]
I am confused as to why the .spe file format is not supported as this functions asks for the file path to a .spe file. I saw that in the documentation it states:

Does this function only

[2018-06-01 14:18] scopatz commented on #1044
Hi @KennellyT - this module defintiely needs some love and attention. Any help would be greatly appreciated.

[2018-06-01 14:23] KennellyT commented on #1044
Hey @scopatz- Sounds great, I am currently editing gammaspec.py to allow more types of .spe files to be read and analyzed.
I have a Gaussian distribution python code that I made for a prior laboratory class that I may implement/compare to gammaspec.py down the road.
Thank you

[2018-06-01 14:34] scopatz commented on #1044
That'd be awesome! Thanks!

[2018-06-01 15:08] KennellyT commented on #1044
Quick question @scopatz , if the .spe does not have certain information such as:
Spectrum name, Detector ID, Detector description, nor Energy fit should I have gammaspec.py default those values to "N/A"?

[2018-06-01 15:15] scopatz commented on #1044
Probably should give them as Python `None`

[2018-06-01 15:35] KennellyT commented on #1044
@scopatz
Thank you!
I got gammaspec.py to accept and read .spe files that begin with '$SPEC_ID:'.
I should have gammaspec.py updated and pull requested by Monday afternoon.

[2018-06-01 15:37] scopatz commented on #1044
Sweet, looking forward to it!

[2018-06-02 12:54] KennellyT commented on #1044
Quick question:
I got gammaspec.py to accept and read the parameters of .spe files that begin with '$SPEC_ID:'.
I was looking at issue Spectroscopy Module #43, where some of the other functions of this package would be:
peak search
compare 2 spectra
background subtract
peak fitting
peak area calculation
track peak over time using multiple spectra files
I was wondering if pyne already has modules f

[2018-06-02 13:18] scopatz commented on #1044
I think our spectroscopy capabilities in general are under-developed. It would be great to have more work in this direction

[2018-06-03 23:39] KennellyT commented on #1044
I have partially developed a FWHM function.
Back to gammaspec.py, has the GammaSpectrum class been known to cause problems.
For example after running:
[code]
gs.read_SPEC_ID_file(spec_file_path='cs-137.spe') does not know what spectrum is while after printing (gs.read_SPEC_ID_file(spec_file_path='cs-137.spe')), the entirety of spectrum is printed as seen in figure 1 below.
![image](https://user-im

[2018-06-04 12:53] scopatz commented on #1044
I don't think many people use this functionality, so it is probably safe to say that there are bugs

[2018-06-04 15:37] KennellyT commented on #1007
Hey @gonuke,
Currently I have developed a python code that accepts two lists, a list of nuclide names that are different from that produced by nucname.name() and a list of the non-nucname form of these nuclides in the same order.
The code takes the two lists, zips them together and uses a dictionary to allow the user to type in a non-nucname nuclide and receive the nucname.name of the nuclide.
For

[2018-06-04 16:37] KennellyT commented on #1044
Thank you.
I am closing this issue as gammaspec.py has been updated to accept other types of .spe files. I will open other issue(s) for GammaSpectrum and other functions for gamma spectrometry.

[2018-06-04 16:37] #1044 closed, assigned to nobody

[2018-06-04 16:43] KennellyT opened #1047 "Gamma spectrometry (compton edge, backscatter, single/double escape)"
Hey,
I was wondering if pyne already has a calculator that calculates the Compton edge, backscatter, single/double escape energies given an input gamma energy? I have developed a code for these functions (see below) and I am just checking that these function have not already been implemented into pyne.
Also, if this function was to be implemented should I create a test for this function in `tests`

[2018-06-04 19:56] scopatz commented on #1047
Hi @KennellyT - yeah, I doubt that these functions have been implements, so any implementations would be most welcome! And yes, tests are needed with all code additions.

[2018-06-04 20:04] KennellyT commented on #1047
@scopatz,
I have the base code written and I will write the tests for this code and push them tomorrow.

[2018-06-04 20:05] scopatz commented on #1047
Sounds great!

[2018-06-05 16:12] KennellyT opened #1048 "Does Pyne have a library on X-Ray Mass Coefficients ?"
I was recently developing a function to calculate the intensity of a beam through a slab of thckness T. While creating this function, I noted that I needed the mass attenuation coefficient of the material to calculate the intensity.
I was wondering if pyne has this library? If not, I can write a webscrapper to parse through data sets such as: https://physics.nist.gov/PhysRefData/XrayMassCoef/ComTa

[2018-06-05 17:28] katyhuff commented on #1048
The mass attenuation coefficient has a relationship to the cross section (\sigma_{tot}). I believe we have the total photon cross sections in pyne somewhere...

![image](https://user-images.githubusercontent.com/393899/40992259-50312cae-68c4-11e8-986c-561bd8443b69.png)

[2018-06-05 17:42] KennellyT commented on #1048
I found that the photon cross section data is in the pyne.data module, pyne.xs.channels.sigma_t, and ENDF Reader. I can use these to implement this function.
Thank you @katyhuff!

[2018-06-05 17:42] #1048 closed, assigned to nobody

[2018-06-05 17:48] katyhuff commented on #1048
![bitmoji](https://render.bitstrips.com/v2/cpanel/1b492f65-6292-40d6-956e-e1c962b347f4-aef391d1-ee2a-4ffc-b1c7-1c24444a7cae-v1.png?transparent=1&palette=1&width=246)

[2018-06-06 10:50] makeclean opened #1049 "Qt4/5 versioning"
It seems like we're getting close with most of the Python2/3 stuff, but im having real issues getting the aceviewer to work, specifically on OS/X due to the fact that brew only now has Qt5 installable. I guess this is something that could be included in CI, but I dont know how you woulld test it?*

[2018-06-06 12:24] scopatz commented on #1049
Hi @makeclean - I think we should either update the aceviewer to Qt5 or get rid of the aceviewer.  I would prefer ti update it, but i don't know what is involved.

[2018-06-06 15:21] #1047 closed, assigned to nobody

[2018-06-06 15:25] KennellyT opened #1050 "ENDF reader issue [bug]"
When running the ENDF reader [tutorial](http://pyne.io/examples/endf_reader.html), I receive this error:
`u235.get_xs(922350000,16)`

/home/tyler/spont_fiss/untitled1.py:1: DeprecationWarning: 'U' mode is deprecated
  #!/usr/bin/env python3
Traceback (most recent call last):
  File "<ipython-input-6-72c736b7f799>", line 1, in <module>
    u235.get_xs(922350000,16)

  File "endf.pyx", line 1007, in

[2018-06-06 16:03] KennellyT commented on #440
I found a [link](http://www.talys.eu/tendl-2009/fission-yield-spontaneous-sub-library/) that works leads to ENDF files. I'll try the ENDF Reader to parse through them for their data.

[2018-06-07 12:54] scopatz commented on #1050
Thanks for reporting @KennellyT!

[2018-06-12 01:55] KennellyT opened #1051 "Changing pyne (conflict between pyne that lives in pkgs and pyne from github repo)"
Hey,
Quick python question I am having trouble with.
So I downloaded the pyne repository from github (git clone) and have it as a folder on my desktop. I also downloaded pyne from conda. I make changes to the folder (git repository version) pyne but I cannot test the changes as when I run things like:
`from pyne import gammaspec`
as python imports the pyne that lives in pkgs (conda version) and no

[2018-06-12 12:54] scopatz commented on #1051
Hi @KennellyT - I think you should probably uninstall the conda version

[2018-06-12 15:02] KennellyT commented on #1051
@scopatz - Sounds good, will do!

[2018-06-12 15:34] KennellyT commented on #1051
That seems to have solved the issues thank you!

[2018-06-13 00:52] KennellyT opened #1052 "Importing pyne [BUILD ERROR]"
Hey,

After deleting the conda version of pyne on my computer and keeping the github repo of pyne (#1051), I thought all was going well until I tried to call pyne as:
from pyne import spectanalysis

The error message this throws is "No module named pyne" .

After going into the pyne folder on my computer and typing:
python setup.py install --user
I received this error:
Could NOT find HDF5 (missing

[2018-06-13 00:58] KennellyT commented on #1052
The CMakeOutput.log is:
The system is: Linux - 4.13.0-45-generic - x86_64
Compiling the C compiler identification source file "CMakeCCompilerId.c" succeeded.
Compiler: /home/tyler/anaconda3/bin/cc
Build flags:
Id flags:

The output was:
0

Compilation of the C compiler identification source "CMakeCCompilerId.c" produced "a.out"

The C compiler identification is GNU, found in "/home/tyler/pyne/buil

[2018-06-13 14:32] KennellyT commented on #1051
Hey,

After deleting the conda version of pyne on my computer and keeping the github repo of pyne (#1051), I thought all was going well until I tried to call pyne as:
from pyne import spectanalysis

The error message this throws is "No module named pyne" .

After going into the pyne folder on my computer and typing:
python setup.py install --user
I received this error:
Could NOT find HDF5 (missing

[2018-06-13 14:33] KennellyT commented on #1051
The CMakeOutput.log is:
The system is: Linux - 4.13.0-45-generic - x86_64
Compiling the C compiler identification source file "CMakeCCompilerId.c" succeeded.
Compiler: /home/tyler/anaconda3/bin/cc
Build flags:
Id flags:

The output was:
0

Compilation of the C compiler identification source "CMakeCCompilerId.c" produced "a.out"

The C compiler identification is GNU, found in "/home/tyler/pyne/buil

[2018-06-13 19:33] scopatz commented on #1051
After you `conda remove pyne` did you do a clean build of pyne? That is did you `rm -r build/` in the pyne dir?

[2018-06-13 19:47] KennellyT commented on #1051
@scopatz - Hey,
after `conda remove pyne,` I went to the folder which had the github repo of pyne and did `rm -r build/` just now. I am having issues importing certain functions such as data (figure 1).
![image](https://user-images.githubusercontent.com/31637359/41374368-97f4f9c6-6f18-11e8-9195-8f965daf51fb.png)

[2018-06-13 19:48] KennellyT commented on #1051
Should I now try to go to the pyne dir and `python setup.py install --user`?

[2018-06-13 19:49] scopatz commented on #1051
Yes :)

[2018-06-13 19:52] KennellyT commented on #1051
After running:
~/pyne$ python setup.py install --user
 I received:

--------------------

If you are having issues building pyne, please report your problem to pyne-dev@googlegroups.com or look for help at http://pyne.io

--------------------
Traceback (most recent call last):
  File "setup.py", line 409, in <module>
    main()
  File "setup.py", line 393, in main
    main_safe(ns)
  File "setup.p

[2018-06-13 20:03] KennellyT commented on #1051
@scopatz - Also it appears that numpy has issues too as seen below.

np.matrix
Traceback (most recent call last):

  File "<ipython-input-27-a3cf6fdd3ed1>", line 1, in <module>
    np.matrix

AttributeError: module 'numpy' has no attribute 'matrix'

[2018-06-13 20:09] KennellyT commented on #1051
It seems that there are many numpy(s) in anaconda.
![image](https://user-images.githubusercontent.com/31637359/41375435-b6f16f0a-6f1b-11e8-8932-2cfda2dcf2d9.png)

[2018-06-13 20:13] KennellyT commented on #1051
should I delete and reinstall conda?

[2018-06-13 20:14] scopatz commented on #1051
No, but you could do a `conda clean --all` if you want.

[2018-06-13 20:16] KennellyT commented on #1051
Ok, just did conda clean --all

[2018-06-13 20:24] KennellyT commented on #1051
After conda clean -all I ran python setup.py --user in the pyne dir again and recieved this error.
-- Configuring incomplete, errors occurred!
See also "/home/tyler/pyne/build/CMakeFiles/CMakeOutput.log".

--------------------

If you are having issues building pyne, please report your problem to pyne-dev@googlegroups.com or look for help at http://pyne.io

--------------------
Traceback (most rec

[2018-06-13 20:53] scopatz commented on #1051
Maybe we can set up a time to chat. I am not sure what is up with your setup such that this is happening/  Until then maybe try another clean build? I know there are other folks at UIUC to have pyne dev environments, too.

[2018-06-13 21:02] KennellyT commented on #1051
Sounds good. I think I found a reason for the config  issues. There is a file called pyne_config.so that was in the conda pyne but not the github repo pyne. After putting this file inside the github repo pyne, and putting the repo pyne in the pathway, the github repo pyne worked. Ill see if any bugs come up but I can see with @katyhuff  on how her pyne dev environment is set up.

Thank you and hav

[2018-06-20 19:54] katyhuff commented on #1052
Try installing hdf5 (dev version, probably) with sudo apt get. Then, try  a *clean* build. If that doesn't work, you might have to give pyne hdf5 hints via cmake.

[2018-06-21 13:46] jbae11 opened #1054 "Silver metastable isotopes contribution to decay heat"
I found out that some silver metstable isotopes have a large decay heat value, and does not decay off, even though they have a short halflife.  I tried testing it here:

https://gist.github.com/jbae11/13fb70155ffe68cb1e21a10f9338fd19

[2018-06-21 13:49] scopatz commented on #1054
Thanks for reporting @jbae11!

[2018-06-26 17:14] KennellyT opened #1055 "Question in regards to data"
Hey Pyne community,
Quick question in regards to data. I was working on issue #440 (Add spontaneous fission yields) and I found a [library](http://www.talys.eu/tendl-2009/fission-yield-spontaneous-sub-library/z92/) of spontaneous fission yields . I found that the spontaneous fission yields found in this library were created from TALYS, a nuclear reaction simulation software. I was wondering if the

[2018-06-27 19:12] zxkjack123 opened #1056 "R2S all zero photon source check"
There isn't an error or warning during R2S when the total photon source is zero.
All zero photon source leads to a wrong result without any warning. A all zero photon source check required during `source_sampling`.

[2018-06-27 20:10] KennellyT opened #1057 "Atomic mass update"
A new '[ATOMIC MASS ADJUSTMENT](http://amdc.impcas.ac.cn/masstables/Ame2016/mass16.txt)' file was released in Mar 2017 by the same source that released the current atomic mass data pyne uses. Pyne's current atomic mass data file ([mass.mas12](https://github.com/pyne/pyne/blob/develop/pyne/dbgen/mass.mas12)) was created in Nov 2012. The atomic mass data in the 2012 file differs from the 2017 file.

[2018-07-26 12:38] ghost commented on #354
Hi,
I have just tried to install pyne on my Ubuntu 16.04 and I get a similar error, stating that the pyne.dbgen.nuc_data_make module is not found:

Traceback (most recent call last):
  File "scripts/nuc_data_make", line 4, in <module>
    from pyne.dbgen.nuc_data_make import main
ImportError: No module named pyne.dbgen.nuc_data_make
Any ideas what is wrong?
Thanks,
Ash

[2018-08-27 11:41] ASamarkRoth opened #1060 "HTTP Error for grabbing http://data.pyne.io/kaeri.zip"
I tried building the nuclear data by:

`./nuc_data_make --fetch-prebuilt false`

I obtained:

[code]

The link seems to be down.

[2018-09-05 14:58] pshriwise commented on #1060
Has there been any movement on this? I'm currently unable to get any files from the data.pyne.io server.

[2018-09-15 04:07] jincairen opened #1062 "urllib.error.HTTPError: HTTP Error 404: Not Found"
sorry for asking repeatedly

[2018-09-15 04:07] jincairen opened #1063 "urllib.error.HTTPError: HTTP Error 404: Not Found"
after running"scripts/nuc_data_make",report an error:"urllib.error.HTTPError: HTTP Error 404: Not Found"
how to solve this problem?
thank you !!

[2018-09-28 16:11] zxkjack123 commented on #1063
This problem happens because of this line:
https://github.com/pyne/pyne/blob/cc70bcd553e2cfd150e5708cb58b628eccf1eea8/pyne/dbgen/nuc_data_make.py#L67

@scopatz The url `http://data.pyne.io/prebuilt_nuc_data.h5` is no longer exist. I didn't find this file in `pyne/data`. Was the process of building `nuc_data` changed? Or just the `prebuild_nuc_data.h5` moved to another place?

[2018-09-28 16:13] zxkjack123 commented on #1062
Let's discuss this problem at https://github.com/pyne/pyne/issues/1063.

[2018-09-28 16:13] #1062 closed, assigned to nobody

[2018-09-28 19:56] gonuke commented on #1063
@scopatz if we can get the data from that server, we can move it to the `data` repo here

[2018-09-29 00:12] jincairen commented on #1062
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

OK,thank you for your reply.Hope it can be solved soon.

    On 9/29/2018 00:13，Xiaokang Zhang<notifications@github.com> wrote：

Let's discuss this problem at #1063.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute

[2018-09-30 17:36] pshriwise commented on #1063
Adding a link to a related PR in `pyne/data` [here](https://github.com/pyne/data/pull/13)

[2018-10-02 23:04] pshriwise commented on #1063
I think I managed to grab a working `nuc_data.h5` file by running `nuc_data_make` inside one of the CI Docker containers. Can this be served in the same way as `prebuilt_nuc_data`?

[2018-10-03 02:24] pshriwise commented on #1063
Found the `origin-benchmark-hdf5` dataset in that docker image as well.

[2018-10-03 02:27] gonuke commented on #1063
Yes - it should be possible to serve any/all of these from pyne/data

[2018-10-07 17:59] nmurali2002 opened #1064 "Question on Custom XS"
Hello,
I have a question regarding the usage of custom xs data. I'm trying to simulate the transmutation of isotopes that aren't in any libraries (using ECLIPSE 2.18 to estimate xs for isotopes like Sr91 which have no expiremental data) and I'm trying to add these xs to pyNE. I tried adding it to the nuc_data.h5 file (via HDF viewer) into the simpleXS, but that isn't working - printing the xs just

[2018-10-10 02:30] jincairen commented on #1063
I have tried to install PyNE again.
Unfortunately,it has reported the same error as before.
I've tried two different methods:
using command"./ubuntu_16.04.sh stable" to install it from scratch
or
using source install by updating two folders:pyne and tests(I found only these two folders have been revised recently).
So,can anyone tell me if it's my fault or if that error hasn't been fixed yet?
thank

[2018-10-10 02:35] pshriwise commented on #1063
Can you try `./ubuntu_16.04.sh` without `stable`? The stable version won't have these fixes sadly.

[2018-10-10 03:05] jincairen commented on #1063
Thank you for your reply.
Using ./ubuntu_16.04.sh ,I get this:

Extracting PyTAPS-1.4-py2.7-linux-x86_64.egg to /root/.local/lib/python2.7/site-packages
PyTAPS 1.4 is already the active version in easy-install.pth
Installing tagviewer script to /root/.local/bin

Installed /root/.local/lib/python2.7/site-packages/PyTAPS-1.4-py2.7-linux-x86_64.egg
Processing dependencies for PyTAPS==1.4
Searching fo

[2018-10-10 03:57] pshriwise commented on #1063
Apologies. You’ll want to try ‘./ubuntu_16.04.sh dev’

The install script requires either a ‘stable’ or ‘dev’ argument.

[2018-10-10 04:44] jincairen commented on #1063
It works!
Thank you very much!

[2018-10-10 05:08] pshriwise commented on #1063
Glad to help :) Thanks for bringing this to our attention.

This issue has been resolved by #1065

[2018-10-10 05:09] #1063 closed, assigned to nobody

[2018-11-09 16:21] shimwell opened #1070 "feature request: Additional Tallies"
It would be great (for me at least) if the src/tally.cpp allowed some additional tallies such as HEAT, DPA, TBR and others as discussed on the DAGMC issue tracker [link](https://github.com/svalinn/DAGMC/issues/413).

A fork with a new branch for implementing this feature [link](https://github.com/Shimwell/pyne/blob/feature_extra_tallies/src/tally.cpp) has been made, I am hoping to commit this to t

[2018-11-13 15:36] shimwell commented on #1070
Tests for DPA, TBR and HEAT have been added to tally_test.py and a pull request has been issued.
[https://github.com/pyne/pyne/pull/1071](https://github.com/pyne/pyne/pull/1071)

[2018-11-26 19:44] gonuke opened #1073 "Extend discretize_geom to allow traversal of reflected toroidal geometries"
Problems based on toroidal geometry are frequently modeled by a small fraction of the full 360 degrees, with reflecting boundaries.  Deterministic solutions as part of automated VR typically require at least a full octant to be occupied, if not a full 360 degrees.  Replicating geometry is memory intensive and probably unnecessary.

It should be possible to extend discretize_geom to track cell boun

[2018-12-03 23:48] pshriwise opened #1075 "Loading all nuclides into materials"
[This line](https://github.com/pyne/pyne/blob/dc750cad9cf4f2e938e46a8d2920390417951307/src/material.cpp#L150) seems to load all nuclides as part of the material composition, even if they aren't part of that material. Is there a reason for this I'm unaware of?

[2018-12-04 03:10] pshriwise commented on #1075
I'll close this. I ended up tracking it down. The HDF5 readers expect there to be contributions from each nuclide in the file. Most material formatting functions check the contribution value before writing it out (like [this](https://github.com/pyne/pyne/blob/develop/src/material.cpp#L659)). I'll do the same in the `openmc` writer soon.

In case this comes in handy later, I did notice interesting

[2018-12-04 21:36] katyhuff commented on #916
@makoziol0

[2018-12-04 21:38] katyhuff commented on #1057
@KennellyT if you haven't started this, maybe @makoziol0 can give it a try?

[2018-12-04 21:41] katyhuff commented on #1055
I think we may already load endf's? https://www.nndc.bnl.gov/endf/b8.0/index.html Might check. (CC @makoziol0 )

[2018-12-04 21:43] katyhuff commented on #260
@makoziol0 may be related to #916

[2018-12-04 22:53] KennellyT commented on #1057
@katyhuff, that sounds great!

[2018-12-06 22:48] makoziol0 commented on #1057
Any reason to keep the old mas12 file? @katyhuff

[2018-12-07 00:06] katyhuff commented on #1057
Hm. This is a good question. I suppose we should move forward in time, rather than preserving the past.

But, we should check in with folks who might be impacted. @paulromano @pshriwise ... thoughts?

[2018-12-07 22:52] paulromano commented on #1057
We're also using the 2012 data in OpenMC. I can't think if of a compelling reason to stick with the older data though.

[2018-12-09 13:09] katyhuff commented on #1057
Makes sense. go ahead, @makoziol0

[2018-12-17 19:56] zxkjack123 opened #1078 "Error nuc data downloading address"
Some links of nuclear data files are not available now. In `pyne/tests/test_endf.py`.
Eg.:
- http://t2.lanl.gov/nis/data/endf/decayVII.1/092_U_233
- http://t2.lanl.gov/nis/data/data/ENDFB-VII-electroatomic/Mo/nat
- http://t2.lanl.gov/nis/data/endf/relaxation/Xe-relax

This error leads to CI test failure.

[2018-12-18 00:37] katyhuff commented on #1078
@zxkjack123 : Would you like to be assigned to this issue?
If not, it's possible this would be a good short project for @KennellyT or @makoziol0 .

[2018-12-18 15:27] zxkjack123 commented on #1078
@katyhuff . Sure.

[2018-12-18 15:35] zxkjack123 commented on #1078
I found that there is a `HARDWARE MAINTENANCE` on the LANL: https://t2.lanl.gov/.
Below is the message:
[code]

[2018-12-18 18:21] gonuke commented on #1078
Does it really say March 2013?  We can perhaps ping someone outside of github for an update?

[2018-12-19 04:37] zxkjack123 commented on #1078
The access to LANL: https://t2.lanl.gov/ works now. Tested with the three example links.

[2018-12-19 04:47] zxkjack123 commented on #1078
@katyhuff, @gonuke .I am closing this issue as the problem has gone.

[2018-12-19 04:47] #1078 closed, assigned to zxkjack123

[2018-12-19 16:23] shimwell opened #1079 "Python name for configparser"
"import ConfigParser" statement in r2s.py might need changing as it causes errors in python3

I believe the name has changed to "import configparser"

[2018-12-19 18:26] zxkjack123 commented on #1079
Unfortunately, as far as I know, we can't use python3 for PyNE R2S. Because the current PyNE R2S relies on a mesh related module which is compatible for only python2 So, if you are going to use PyNE R2S workflow, you have to swith to python2.

[2019-01-25 16:48] gonuke opened #1095 "Default initializer of Mesh() should fail more gracefully (or not at all) when no arguments are given"
First reported by @pshriwise

As it stands, the line m = pyne.mesh.Mesh() will fail when it cannot find any volume elements to check for tags in the mesh module.

This kind of mesh creation should either succeed - though I'm not sure what use that is or what it would look like - or it should fail with some kind of exception/message with information on how to create a PyNE mesh properly.

IMO the l

[2019-02-07 00:59] smpark7 opened #1096 "serpent.parse_det gives output nparray in wrong shape"
serpent.parse_det is a function that parses the Serpent output det .m files.

It is supposed to output a dict of nparrays of det values (e.g. spatial reaction rate data), and the spatial xyz coordinates.

The raw det values from Serpent are provided as a collective, one-dimensional MATLAB array of indices and reaction rate values as shown [here](https://github.com/smpark7/msr-neutronics/blob/first

[2019-02-28 16:22] pshriwise opened #1105 "FileNotFound returning invalid char pointer"
The `FileNotFound` error message is returned via `const char*` which is created by a string that goes out of scope in its error message function `what()`. When that string goes out of scope, the pointer is no longer valid and has been reported to cause garbled text by @zxkjack123. This string should be kept in memory by adding an attribute to the class so that string exists for the lifetime of the

[2019-02-28 16:34] zxkjack123 commented on #1105
Well this error is actually found by @ljacobson64 in #1099 , here:
https://github.com/pyne/pyne/pull/1099#issuecomment-466673262

[2019-02-28 16:46] zxkjack123 commented on #1105
There isn't a `FileNotFound` error in python [build-in exceptions](https://docs.python.org/2/library/exceptions.html#module-exceptions), but I find that there is an [IOError](https://docs.python.org/2/library/exceptions.html#exceptions.IOError).

Throw an `IOError` is at least a better way than throw a `runtime_error` when the `file not found` happens.

[2019-03-01 00:50] pshriwise commented on #1105
This has been addressed in #1107. Thanks @gonuke!

[2019-03-01 00:50] #1105 closed, assigned to nobody

[2019-03-07 22:52] gonuke opened #1109 "pass back list of cells from particle_birth"
The standard usage of the source sampling routines requires a search for the source cell after determining the x,y,z location.  This is currently a linear search over all the cells in a problem.

However, we already know which source voxel this is, and therefore we know what possible cells could exist at this point, typically many fewer than the number of cells in a problem.  If the particle birth

[2019-03-07 22:53] gonuke commented on #1109
This can be done as part of `sampling_setup`

[2019-03-14 01:09] gonuke opened #1111 "allow user to turn off void rejection in source sampling routine"
In the source sampling routine included for MCNP, the second value on the `idum` card indicates how many times to reject a sample because it has been born in the void.  This is based on the origin of this sampling capability - sampling a photon source from activated material.

However, if one wants to use those same routines to sample a mesh for other purposes - e.g. a neutron source in the "vacuu

[2019-03-20 20:38] gonuke opened #1115 "Method to compare two H5M files"
In some tests (e.g. r2s) we currently compare text files for equivalence.  It would be useful to be able to compare H5M files as well.  This might rely on methods developed in MOAB as well as additions that are PyNE specific.

[2019-03-20 21:42] gonuke opened #1116 "Develop an alternative text-based file format for cell_fracs data"
Some applications may want to use the information derived by `discretize_geom` in applications that don't want to depend on MOAB.  This might require an alternative text-based format for representing this data.

[2019-03-26 21:46] gwenchee opened #1119 "Error Importing Pyne"
I have attempted to install pyne from source. It builds correctly, however, when I try to import pyne into my python script, it throws an error.

I tried building pyne from source using the develop branch in pyne/pyne with the command: `python setup.py install --user`. And also using https://github.com/pyne/install_scripts: `./ubuntu_16.04.sh dev`

ERROR:

[code]

Any help will be appreciated!

[2019-04-02 19:52] makoziol0 opened #1120 "Material.decay_heat() Memory Error"
Material decay heat seems to be broken. It hasnt worked for any material I have tested.

Code:
[code]

Error:
[code]

[2019-04-07 21:49] gwenchee commented on #1120
What version of pyne are you using?

[2019-04-16 23:48] gwenchee commented on #1119
After copying the pyne_config.so file from the conda version into my pyne/pyne directory, I now get this new error:
[code]

[2019-04-17 00:06] katyhuff commented on #1119
1) don't copy the lib*.so files anywhere, they really aren't ment to be moved around in this way.
2) did you run import pyne from the pyne source directory? Ideally, you should back up one directory. Thus the warning.

[2019-04-17 00:07] gwenchee commented on #1119
1. I was using advise from https://github.com/pyne/pyne/issues/1051#issuecomment-397085747
2. Yup i backed up one directory but this warning still occurs

[2019-04-17 00:18] katyhuff commented on #1119
hmmmmmmm.... I'm sorry I did't assume you read the warning!!

this looks gnarly....

[2019-04-17 00:23] gwenchee commented on #1119
yeah it is. I am not sure how to proceed

[2019-04-19 13:41] gonuke commented on #1119
I wonder if this is a Python 3 problem?  I'm not sure we've got a fully tested and robust Python3 implementation.  The PyTAPS dependency was one obstacle to that and the PyMOAB transition should allow for a more complete Py3 version.

[2019-04-19 13:49] kkiesling commented on #1119
I have experienced this recently with Python 2 also, so I don't think it is just a Python 3 thing. I believe this existed prior to our PyMOAB updates.

[2019-04-19 14:04] katyhuff commented on #1119
Yeah, I tried to work through this with gwen the other day in person and it
was still stumping us after some system cleanup, environment sanity
checking, and re-installations.
We'll keep plugging away at it and update the thread when there's a
solution. . . @gwenchee -- any update since Wednesday?

On Fri, Apr 19, 2019 at 8:49 AM Kalin Kiesling <notifications@github.com>
wrote:

--
http://katyhuff

[2019-04-19 14:56] gonuke commented on #1119
But we were able to do all the pyMOAB development and have since used PyNE in other ways.  Is this just related to the running of `nuc_data_make`?

[2019-04-19 15:28] gwenchee commented on #1119
@katyhuff I have yet to clean my ubuntu of pyne things and reinstall everything in a cleaner way like how we discussed on Wed. But i will update when i do.

@gonuke Yup it is. It manages to install successfully when I run `python setup.py install --user --clean` and throws this error when i run `scripts/nuc_data_make`

![58377865_2248539312025667_197364342935519232_n](https://user-images.githubuse

[2019-04-19 15:31] gwenchee commented on #1119
Would it be useful to dive into older versions of pyne to see where this error was introduced?

[2019-04-19 15:33] gonuke commented on #1119
We are meeting about this now.  I used the docker image that is used for CI and it all worked perfectly.... so no help.  I was running as root, so now I'm trying again as a non-root user

[2019-04-19 15:50] gwenchee commented on #1119
Alright, let me know what you find!

[2019-04-19 15:52] gonuke commented on #1119
This appears to be harder to diagnose that we thought...  With many witnesses, I've now rebuilt a clean PyNE in docker images for both python2 & python3, and as root as as non-root, and it works fine each time.

@bam241 can reproduce this problem, however, on his local build.

There must be a more subtle interaction with specific environment configurations that we'll need to get to sort out....

[2019-04-19 15:59] gwenchee commented on #1119
This is strange. Is there any suggestions on what I can do on my end to try to install pyne with a cleaner environment?

[2019-04-19 16:53] bam commented on #1119
@bam241 you're welcomed ;)

[2019-04-25 22:11] zxkjack123 opened #1124 "Add 'hdf5-tools` in prerequisites for better h5 file comparison in tests"
`h5diff` is a convenient tool to compare two h5 files.
In some of the nose test functions, h5 files are written, however, we compared the contents not by directly comparing two h5 files, but via other ways such as reading the data out and comparing the data.
As addressed in #1115 , it's useful to compare two h5 files. There is already a tool named `h5diff` to do this task. The `h5diff` is in `hdf5

[2019-04-26 15:14] kkiesling commented on #1124
I am in favor of using this tool to test files, but it does add an additional dependency only for testing. Curious to know what others in the PyNE community think about adding this as a dependency?

[2019-04-26 15:16] bam241 commented on #1124
maybe we can make it an optional dependency, and having the test checking if `h5diff` are present.

so we can rely on it for the `CI` without forcing users to have it ?

[2019-04-26 15:22] zxkjack123 commented on #1124
Maybe we can just install `h5diff` in CI, but not add it as a dependency for pyne. Therefore:
- For CI, install `h5diff`, test with `h5diff`
- For user test pyne, if `h5diff` not exist, skip the test
- For user test pyne, if `h5diff` exist, do the test

[2019-05-06 02:53] zxkjack123 commented on #1124
Solved in #1128 . Close this issue.

[2019-05-06 02:53] #1124 closed, assigned to nobody

[2019-05-06 02:54] zxkjack123 commented on #1115
The tool to compare h5 files: `h5diff` is add in #1128 , close this issue.

[2019-05-10 18:41] gonuke commented on #1115
Do we want a semantic comparison, as well?  This is just a content comparison, but doesn't interpret the differences? Maybe we can discuss this.

[2019-05-10 19:14] zxkjack123 commented on #1115
`h5diff` tells us if two `h5` files are different. If they are different, it tells us 'x different found` in `xxx`. If we use `h5diff -v`, it tells the difference in detail.
This is enough if we want to
- Check whether two `h5` files are exactly the same (entire file content comparison). Using `h5diff f1 f2`.
- check whether two `h5` files have the same objects of contents. Using `h5diff f1 f2 obj

[2019-05-10 22:09] zxkjack123 commented on #1115
I did several more tests with `h5diff`, found that sometimes it behaves different as what we want. The `DATASET`, `ATTRIBUTE` `TYPE` make things more complex. Sometimes the return value is different from my expectation.

[2019-05-21 17:39] aruzzo opened #1135 "pyne.io Virtual Box link does not work"
On the pyne.io page for VirtualBox: [http://pyne.io/install/vb.html#vb](url), the link for installing the PyNE ova file doesn't work: [http://data.pyne.io/pyne-0.5+yt.ova](url). It states that the resource could not be found.

[2019-05-21 17:43] bam241 commented on #1135
@aruzzo a vb box can be found here : https://uwmadison.box.com/shared/static/1kvzvh3js0enwa1j8u9dx6bdc5e4xzxn.ova

we need to update the link on the website.
sorry about that !

[2019-05-21 18:07] aruzzo commented on #1135
Thanks for the help!

[2019-05-21 19:32] #1135 closed, assigned to nobody

[2019-05-23 14:29] gonuke commented on #1075
I think the last thing you identified is a problem - can you maybe open a new issue focused on that topic?

[2019-05-23 15:32] gonuke opened #1136 "Implement list-based equivalent to `namchg` in MCNP source function"
The `find_cell` function currently uses MCNP function `namchg` to translate a single cell ID into a single cell index by performing a linear search across all cells.

A new function could be written to translate a list of cell IDs into a list of cell indices, with a single linear search across all cells.  This function might perform a linear search across the cell IDs at each step in the search ac

[2019-05-23 15:32] zxkjack123 commented on #1136
Something like this? https://github.com/pyne/pyne/pull/1118/commits/20a991772217eb98de99813592d4271ac6227d78#diff-57fcd7074f1cb3e5272f563cfb4383faL74

[2019-05-23 15:35] gonuke commented on #1136
This is even faster after it's set up, but risks a big waste of memory if the largest cell number is much larger than the number of cells.

[2019-05-23 15:38] gonuke opened #1137 "Add statistical summary for failure modes of `find_cell`"
The `find_cell` function added in #1118 adds important performance improvements and identifies some possible failure modes in finding the cell number.

It would be useful to know, at the end of each simulation, how many times each failure mode was encountered.  This could be important diagnostic information for improving the modeling of a given problem, e.g increasing the number of rays in `discre

[2019-05-24 16:23] ljacobson64 opened #1138 "source.F90 should use "implicit none""
source.F90 currently uses `implicit real`, which automatically assigns the `real` type to variables based on the first letter of the variable name. This is not good modern code practice, and can lead to a lot of issues.

For example, recently DAGMC was updated to have the newer source sampling routines present in pyne, in which some function signatures changed, but the source.F90 was not updated.

[2019-05-25 01:42] zxkjack123 commented on #1109
Close it as the #1118 get merged.

[2019-05-25 01:42] #1109 closed, assigned to zxkjack123

[2019-05-25 01:52] #1056 closed, assigned to zxkjack123

[2019-06-04 14:15] gwenchee commented on #1119
@katyhuff @nathanb01 @Mongwell

[2019-06-04 14:36] katyhuff commented on #1119
@gwenchee regarding your question :

When a cleaner environment is part of the problem, I recommend the use of conda environments and/or docker containers.

Also -- I know you had a bunch of pyne installations on your machine when last we sat together about this. I see you tried to remove them and install again. Are you currently still trying to install on the same machine or on a new one? Have yo

[2019-06-04 14:36] katyhuff commented on #1119
@nathanb01 @Mongwell : Have either of you taken a look at this issue -- can you reproduce it on your machines?

[2019-06-04 14:39] gwenchee commented on #1119
I have tried to install it on a clean machine awhile back but other problems were popping up. I will try again to install on a virtual machine sometime this week.

[2019-06-04 14:43] katyhuff commented on #1119
Good luck! When you do, consider making sure that all of the commands issued in the virtual machine are stored so that your process can be communicated and understood if this issue arises in your clean environment. (Use the history command in the terminal. You may need to keep all activity in a single terminal so that the history is real & chronological).

[2019-06-04 15:04] nathanb01 commented on #1119
I'll see what I can do to reproduce this error

[2019-06-04 17:55] Mongwell opened #1142 "Outdated Documentation Links"
Hi, my name's Maanu Grover. I'm a CS undergrad in Professor Katy Huff's research group for the summer. After going through the PyNE README and documentation, I found a few links that could be updated, namely: the Anaconda download links no longer work, and the PyNE releases linked to use for installation are rather old releases.

Opening this issue to link a PR to it.

[2019-06-04 17:56] nathanb01 commented on #1119
I was able to install using the install script and then import pyne but only when I used `sudo python2` to open python2. The install script appears to install for python2 only and running the install script using sudo, because installation of the dependencies with apt package manager requires super user, seems to install it for the super user only. @Mongwell is looking into making the install scri

[2019-06-04 18:02] nathanb01 commented on #1119
I haven't tried running the install script while using a conda environment, is it possible that the install script could behave differently while in an environment?

[2019-06-04 18:07] gwenchee commented on #1119
@nathanb01 Could you try running this python test script for me, since you got PyNE to install. Let me know if these test pass.

The script is in this gist: https://gist.github.com/gwenchee/a1cdde3c8abc91deff926836dec95f2d

To run it you have to do `pytest checker.py` in the directory you saved it in.

[2019-06-04 18:18] nathanb01 commented on #1119
[code]

[2019-06-04 18:20] gwenchee commented on #1119
Sorry, I meant run `python checker.py` and see if 3 lines print. @nathanb01

[2019-06-04 18:21] nathanb01 commented on #1119
[code]

[2019-06-04 18:21] gwenchee commented on #1119
That's great! I'll try installing PyNE on a clean machine using `sudo python2`. Thanks @nathanb01!

[2019-06-04 18:24] nathanb01 commented on #1119
I used the install script but since I ran the install script using `sudo ./ubuntu_16.04.sh dev` I had to run python using `sudo python2`, or `sudo python` if python2 is the default, in order to be able to import pyne

[2019-06-04 18:28] gwenchee commented on #1119
That's good to know! Thanks! :)

[2019-06-04 22:08] Mongwell commented on #1119
I think I have seen all of these issues before when going through the install process. I couldn't reproduce today, but I will set up a VM with Anaconda tomorrow to try and exactly reproduce these errors. I also need to figure out why it is necessary to run python as superuser to use the installation of pyne, when using the install scripts to obtain pyne. Even if it works, that doesn't seems correc

[2019-06-07 21:16] Mongwell commented on #1119
I was able to reproduce the error message, but I doubt my steps were the same. I created two different conda environments and installed PyNE in both of them. In one of the environments, it produces the same error when trying to run `scripts/nuc_data_make`. I doubt this is helpful, but if you tried installing PyNE twice in two different virtual environments, that may be the issue.

[2019-06-12 17:25] nathanb01 commented on #1116
@gonuke it seems that discretize_geom takes a mesh as it's input which depends on MOAB. Are you saying that the output of discretize_geom would be generated by an application that does depends on MOAB but then converted to a text based form to be used by other applications?

[2019-06-12 20:21] aruzzo commented on #1120
@makoziol0 I was able to reproduce this error by having the nuc_data.h5 file open with vitables at the same time as trying to compute test.decay_heat(). Closing the nuc_data file fixed the error and test.decay_heat() ran normally.

[2019-06-12 20:25] bam241 opened #1144 "CI-docker python package"
Maybe we should install all the python dependencies with `pip` as suggested in pyne/install_scripts#32
As we can see [[see](https://github.com/pyne/pyne/blob/develop/docker/ubuntu_18.04-dev.dockerfile)], 10 python package are installed with `pip`:
- `sphinx`
- `cloud_sptheme`
- `prettytable`
- `sphinxcontrib_bibtex`
- `numpydoc`
- `nbconvert`
- `numpy`
- `nose`
- `cython`
- `future`

and 4+1 are s

[2019-06-12 22:27] aruzzo commented on #1054
I was looking into the issue and there seems to be some inconsistency between the id number and state number for silver-108m; the id for it is `471080001` but the state id is `471080002`. Doing the command `data.all_children()`, an empty set is returned for `471080001` but functions properly for `471080002`. I edited the material.cpp file to print what values the `decay_heat()` function uses:
[cod

[2019-06-13 18:32] aruzzo opened #1145 "Some metastable isotopes have wrong decay heats"
After looking more at #1054, there are more metastable isotopes that have a very large decay heat value when used in pyne.material.Material (28 in total that I found): [https://gist.github.com/aruzzo/4dbf3c283eeed8b712e16c150bd19a64](url)
I edited the material.cpp file to print what values the `decay_heat()` function uses. I tested Ag-108m, one of the original problem isotopes from the issue:
[cod

[2019-06-13 18:47] katyhuff commented on #1145
What reference are you using to define "right" ?

[2019-06-13 19:18] aruzzo commented on #1145
I don't know of another resource to check the q values of the reactions, I assumed they were right. I calculated a few of the decay constants using the half-lives available in the decay/decays tree, which are the same values as in decay/level_list but easier to search through since it has much fewer entries. They were the same values that were used by material.cpp.

[2019-06-13 19:24] katyhuff commented on #1145
Sorry -- still confused.

You say:

How do you know?  What is the right q value? Where did you get it from?

I assume you're looking up the decay constant on nndc.bnl.gov and it's different there than is given by the decay_constant function? Please recall that $t_{1/2} = ln(2)/\lambda$

What do you mean by "they" in this sentence?

[2019-06-13 19:50] aruzzo commented on #1145
I did not check with an outside reference if the q values are correct. When I wrote "they", I meant the q values. I only checked that that material.cpp function obtains the corresponding q value for each id from the decay/q_values tree in the nuc_data.h5 file, which it does when using the `zas id`. For the decay constant, I checked with nndc.bnl.gov and converted the half-lives of some of the prob

[2019-06-13 19:52] katyhuff commented on #1145
Ok -- so I think many of my answers can be parsed from your gist/ notebook. But, it's very difficult to read.

First, can you please indent and use line length limits according to PEP8 so that github doesn't cut off your code...

![image](https://user-images.githubusercontent.com/393899/59462137-a4e65b80-8de8-11e9-91f7-abec775025a0.png)

I'm finding the logic of the script is obfuscated somewhat b

[2019-06-13 19:53] katyhuff commented on #1145
Ah -- I see you've clarified a bit. Sorry -- I was preparing my comment while you were responding. Will read.

[2019-06-13 19:53] nathanb01 commented on #1145
From what I saw it looked like the confusion lies in what the `0001` flag should mean. In the tutorial on nuclide naming on the website it says that 1 would be the first metastable state, as opposed to the first excited state. However for some isotopes there are isomers listed with lower excitation energy than the first isomer with the metastable flag in the prebuilt nuc data  `decay/level_list`.

[2019-06-13 19:56] nathanb01 commented on #1145
The decay heat it gives was correctly calculated from the data given the id `471080001` since `471080001` corresponds to the first excited state which had a significantly lower half life but similar magnitude excitation energy as `471080002`.

[2019-06-13 20:27] katyhuff commented on #1145
yes, I think that's right @nathanb01 . For posterity and confidence, @aruzzo is going to clarify his ipython notebook gist to make clear the observed and expected behavior, and why the expected behavior is expected.

[2019-06-17 22:00] aruzzo commented on #1145
After looking through `material.cpp` and `data.cpp`, the problem became clear. This new [gist](https://gist.github.com/aruzzo/28cbe1e861436f677d574092c06ad116) hopefully more clearly highlights how `material.Material.decay_heat` doesn't work for some isotopes such as Ag-108m. The issue comes from how `material.Material.decay_heat` calls `data.decay_const`. The `data.decay_const` function uses `sta

[2019-06-17 23:17] nathanb01 commented on #1023
It seems that the negatives were introduced as a way to stop certain tests from failing. It was first introduced by @crbates in commit 9ed09dc Feb. 26, 2015 by returning the original nuc_id with the state digits `9999` and then changed to return the original `nuc_id` except negative in commit 00a4c64 a couple days later.

We may try to contact @crbates to ask if he remembers why these commits were

[2019-06-18 23:42] gonuke commented on #1116
That's right.  There would be an option to generate some kind of text-based mesh format that included the data from discretize geom.

Note, that this might be possible with MOAB's native VTK writer, if a VTK file was of interest, but there may be other generic/canonical formats, especially since it's a Cartesian grid.

[2019-06-18 23:43] gonuke commented on #1116
@nathanb01 - I was about to assign this to one of my undergrads, unless you are already digging into it...

[2019-06-19 16:28] nathanb01 commented on #1116
@gonuke go ahead and assign it to one of your undergrads. I will work on something else since I haven't started working on it.

[2019-06-19 19:08] nathanb01 opened #1148 "Outdated Documentation for Supported Platforms"
The file [`supported.rst`](https://github.com/pyne/pyne/blob/develop/docs/install/supported.rst) could use some updating. Since all of the listed OS's have reached end of life, I doubt we still build and test PyNE on these platforms. I'm not sure where to find a complete list of the builds that we test but I found a short [list](https://github.com/pyne/pyne/blob/develop/.circleci/config.yml) in `.

[2019-06-19 20:00] nathanb01 commented on #1148
Recommended: Documentation label

[2019-06-19 20:39] nathanb01 commented on #1148
I have made an attempt at updating this documentation page but I am unsure of a few things.

1. I don't think I have a complete list of the OS versions we test on.
2. Should I list all of the latest releases or just the most recent one.
3. Which version of python3 does circleci run and should that be the only python3 version listed.

My first draft can be found [here](https://gist.github.com/natha

[2019-06-20 12:57] crbates commented on #1023
My memory is a bit fuzzy on this, but I'm pretty sure this is a hacky solution to try and cover two cases:
1. reported levels in parent and daughter nuclei not matching exactly in ENSDF,
2. some nuclides (Uranium is mentioned in the c++ comment)  have very tightly spaced levels.

In order to capture case 2  we had to set the tolerance so tight that many reasonable matches for parent/daughter state

[2019-06-21 16:59] nathanb01 commented on #1142
I found another broken link in the documentation. In [`theorymanual/data.rst`](https://github.com/pyne/pyne/blob/develop/docs/theorymanual/data.rst), the `ORIGEN-S data`  link doesn't work. I attempted to track down the document that it was meant to link to but was unsuccessful.

[2019-06-25 21:14] nathanb01 commented on #1023
Perhaps instead of the negative we could keep it positive and do one of the following.

1. If the closest level is not within a reasonably wide range, raise an error or return the ground state
2. If the closest level is within this range but there are also other energy levels within a somewhat smaller range, raise a warning and return the closest excited state.
3. If the closest level is within th

[2019-06-28 21:57] nathanb01 commented on #727
It looks like this should just be the C++ API because, according to the developer's guide's [entry](https://github.com/pyne/pyne/blob/develop/docs/devsguide/fortran.rst) on fortran, there is not currently a way to interface with PyNE from Fortran. Likely "C++ and Fortran API" should read "C++ API" and the Fortran guide should only appear in the developer's guide.

[2019-07-01 21:08] zxkjack123 commented on #1079
This problem should be solved as PR #1132 get merged. @Shimwell Could you please update PyNE and try it again?

[2019-07-02 19:36] aruzzo opened #1151 "CI tests don't incorporate new atomic mass data"
As previously stated by @katyhuff ([original comment here](https://github.com/pyne/pyne/pull/1092#issuecomment-507408395)), the CI tests aren't incorporating the new atomic mass data from PR #1092 and are instead using old data in the docker image. Some potential fixes could be running nuc_data_make or perhaps doing so only if a particular PR flag is present.

[2019-07-05 21:23] aruzzo commented on #1151
In the CircleCI config.yml file, I added [--clean 2 and fetch-prebuilt False](https://github.com/aruzzo/pyne/blob/3b0d46dec1b51ad4dfe9f893f6537d98fcc4fab5/.circleci/config.yml#L77) to have the docker build the nuc_data file from scratch. When doing this, I encountered two data building issues:

1. During the py3_build [[CircleCI test here](https://circleci.com/gh/aruzzo/pyne/45)], attempting to do

[2019-07-10 20:32] aruzzo commented on #1151
A little update; I'm able to have CircleCI load in the new atomic mass file by adding `-m atomic_mass` to the config.yml file along with a few other changes. To have pyne actually build the new atomic mass data, the `make_atomic_mass` function in dbgen/atomic_mass.py was changed to `pass` instead of `return` if the atomic_mass node already exists and then delete the prebuilt atomic mass node in th

[2019-07-15 21:54] aruzzo commented on #1151
In total, I've found 5 test files that still contain failures:

1. test_data.py: `test_gamma_child_byen` has a different ordered list that doesn't match. The list was changed in a commit back in the original PR but it seemed to break this test [(change seen here)](https://github.com/pyne/pyne/commit/ade9057fec63e82ec307555747a5208fa26628b9#diff-f3725fbba011ae33a08160d9a35a7763)

`Traceback (most r

[2019-07-15 22:21] aruzzo commented on #1151
@katyhuff @makeclean @gonuke @pshriwise @zxkjack123 I'd like to check if this is the best way to incorporate the new mass data into pyne. Currently, CircleCI fetches the prebuilt_nuc_data file by default. Since `--fetch-prebuilt false` has some issues with dead links and forbidden access, I modified atomic_mass.py and materials_library.py in pyne/dbgen to edit the nuc_data.h5 file. They delete the

[2019-07-16 00:27] pshriwise commented on #1151
I'll propose that we update the `prebuilt_nuc_data.h5` file in the `pyne/data` repo rather than modifying it after the download. It might be a little tricky to keep that file and the `pyne/pyne` repo version in sync, but hopefully we won't have to do this too often.

[2019-07-16 00:50] zxkjack123 commented on #1151
It seems that many atomic data are manually changed. In the test functions, some nuc data from `h5` file and manually defined value are compared. Well, these data are actually from a `mass.mas16`. I have a suggestion:
- Add some functions to read specific data from `mass.mas16` (also functions to test the data reading)
- Compare the data from `h5` and `mass.mas16` in the test functions

By this ch

[2019-07-23 02:04] gonuke opened #1155 "Tally normalization must be >1.0 for MCNP output"
It's not clear why the MCNP formatted tally writer requires that the tally normalization be >1.0 in order to generate the normalization card.  Shouldn't it always write a normalization card if the normalization is set?

[2019-07-23 18:34] #1145 closed, assigned to nobody

[2019-07-30 13:05] phll opened #1160 "Parsing endf files fails with ValueError"
Running the following code
`from pyne.xs.data_source import ENDFDataSource

endfds = ENDFDataSource("ir.txt")
`
produces this error:

`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-58-56779bacee8e> in <module>
----> 1 endfds = ENDFDataSource("ir.txt")

~/anaconda3/envs/neutron/l

[2019-07-30 16:11] bam241 opened #1161 "Docker container"
As we maintain docker image/container for the CI, we should also push a `pyne/pyne:latest` and a `pyne/pyne:stable` on develop merge and tags respectively

[2019-07-30 21:47] zxkjack123 commented on #1161
There should be a PR merge event triggered code to update these docker images automatically.

[2019-08-01 14:37] #1160 closed, assigned to nobody

[2019-08-05 15:57] zxkjack123 opened #1163 "Implementation and application of material change using pymoab"
This issue comes from the conversation between @gonuke @pshriwise and @zxkjack123  in PR #1159.
Here is the short summary of the topic "implementation and application of material change using pymoab":
Implementation
  - In Trelis:
      - Volumes whose materials will not change are assigned as usual in Trelis for neutron transport (`mat:steel/rho:8.08`) and applied as normal
      - Volumes whose

[2019-08-05 16:00] zxkjack123 commented on #1163
@gonuke @pshriwise I summarized the current state of the conversation as above. Is there something I am wrong or omit?

[2019-08-06 13:50] pshriwise commented on #1163
I would describe the changes in PyMOAB more as changes in PyNE (or any other application leveraging this material assignment scheme).

#### Regarding material names and DagMC/UWUW modifications

 My personal preference is for all materials to have a "default" name like `mat:steel/rho:8.08`. In addition, the volumes whose materials need to be updated can be added to another group `<application>_mat

[2019-08-06 16:04] zxkjack123 commented on #1163
@pshriwise I agree to use `<application>_mat` format. Because I find there is a possiblity to put more than 1 applications in one geometry. We can assign `<application1>_mat` and `<application2>_mat` in the same geometry, and chose which to replace according to the specific application.

[2019-08-09 15:42] phll opened #1164 "Half life time should be nan if nuclide isn't found in database"
When you try to retrieve the half life time of an unknown isotope 'inf' is returned. For example
`nucdat.half_life("Cm-253")` produces the output 'inf', while this isotope cannot be found in the nudat2 data https://www.nndc.bnl.gov/nudat2/chartNuc.jsp .
Wouldn't it make more sense if pyne would return 'nan' in such cases, like it does for known isotopes with unknown half life time (e.g. U-241)?

[2019-08-19 21:45] gonuke opened #1165 "Allow specification of default MCNP table ids for materials"
The MCNP material writer currently supports metadata "table_ids" to specify a particular cross-section table for any set of nuclides desired by the user.

In some cases it may also be useful to specify a default cross-section set for all nuclides using the syntax "nlib=81c" or "hlib=70h".

This might be possible with metadata "default_table_ids" that is a dictionary/map from libtype (e.g. nlib, hl

[2019-08-22 19:03] zxkjack123 opened #1166 "Openmc python API as optional dependency"
PyNE supports reading and writing files of many formats (mcnp, alara, fluka ...). There is a module file for each code (`mcnp.py`, `alara.py`, `fluka.py`, ...). However, things are slightly different for OpenMC.

OpenMC has its own python API (works for python3). It will be very useful if we add `openmc` (OpenMC API) as an optional dependency when we read and write the OpenMC related files, becaus

[2019-08-22 19:07] zxkjack123 commented on #1079
Close it, as it should have been solved in PR#1132.

[2019-08-22 19:07] #1079 closed, assigned to nobody

[2019-08-22 19:07] zxkjack123 commented on #1111
Close it, as it has been resolved in PR #1158.

[2019-08-22 19:07] #1111 closed, assigned to nobody

[2019-08-22 21:28] pshriwise commented on #1166
I support that decision, and agree that if one wants to use OpenMC functionality in PyNE, they’ll likely want to have OpenMC installed somewhere on their machine.

Regarding the `openmc` module in PyNE - I’m wondering, @zxkjack123, if the modules in OpenMC itself might be able to replace what’s in PyNE as well? I know OpenMC has an `ace` module used to parse the ACE data format anyways. Unless per

[2019-08-22 21:58] zxkjack123 commented on #1166
@pshriwise In theory, yes, it's possible to use modules in `openmc` to replace the module in `pyne`. But I do not recommend to do that.

The module `openmc` is an optional module for users who work with OpenMC. For the other users, they do not have `openmc` installed. Replace the  `pyne.ace` with `openmc.ace` will make it a required dependence, it's unfriendly for uses do not use OpenMC.

[2019-08-22 22:18] pshriwise commented on #1166
Agreed in principle, but I’m wondering how often that case occurs in practice.

That being said, I’m satisfied with keeping PyNE’s `openmc` module and renaming it.  It does no harm that I can see to keep it in PyNE, even if it isn’t being used. So to answer your initial question about the module name I think your suggestion of `openmc_utils.py` is good.

[2019-08-23 23:54] gonuke commented on #1166
It's interesting that you point to the `ace` module since I bet @paulromano is probably responsible for both the PyNE version and the OpenMC version.  I am definitely always in favor on convergence, but from my point of view it makes more sense for OpenMC to rely on a robust generally available `ace` module than to require all PyNE users to get OpenMC to read ACE files....  I imagine that @paulrom

[2019-08-26 18:55] paulromano commented on #1166
Ha- yes both `pyne.ace` and `openmc.data.ace` are my babies. In an ideal world, I agree that OpenMC would rely on "a robust generally available `ace` module". However, I'm also really dependency-averse which is why I decided against using `pyne.ace` and instead building a homegrown version as part of `openmc.data`. Some things in OpenMC are optional dependencies (e.g., NJOY), but the `openmc.data.

[2019-08-27 01:49] gonuke commented on #1166
I understand the sentiment, but dependency-averse projects present a huge challenge for shared solutions like PyNE.  It seems like there has to be a good solution to this.  One way we've tackled it, in part, in some other projects is to simply add an amalgamated PyNE to the project in question.  This is well-demonstrated for pure C++ projects, but maybe less so for Python based projects.

This see

[2019-08-29 03:04] paulromano commented on #1166
And I understand your sentiment as well. Yeah, I don't know how well amalgamation would work on the Python side. Seems to me that a better solution would be to have pyne be pip-installable (with prebuilt wheels). At that point, I'd be much more open to it being a dependency. I'm not against dependencies for the sake of being against dependencies -- I've just seen how much pain they can cause for b

[2019-09-08 19:46] gonuke opened #1171 "Improve MCNP integration of source sampling statistics"
PR #1159 introduces counters for different failure modes of source sampling to be reported to the user upon completion.  The current implementation only works for non-MPI runs without continue runs because the counters are not integrated in MCNP's data handling for multi-core runs or runtpe writing.

This will require an MCNP patch, so is perhaps outside the scope of PyNE?

[2019-09-09 16:43] zxkjack123 opened #1174 "NNDC ENDF link not available"
Several nuclear library data will be downloaded during the unit test. However, the ENDF of NNDC is currently not available, for example this link: http://www.nndc.bnl.gov/endf/b6.8/tapes/tape.100, used by `test_endf.py` is now not available.

Actually, the `http://www.nndc.bnl.gov/endf` is not available now:
[code]

Where can we find a replacement for it?

[2019-09-10 01:26] gonuke commented on #1174
That seems like an error - I wonder if we should report it.

[2019-09-12 22:07] zxkjack123 commented on #1174
Close this PR because the link is available again.

[2019-09-12 22:07] #1174 closed, assigned to nobody

[2019-09-18 20:06] petersondroogh opened #1177 "What happened to Fe-54"
Ran a script and it looks like Fe-54 disappeared for a compound.  See below and see jupyter notebook

Josh

Fe = Material({"Fe": 1})

print(Fe)
print(Fe.expand_elements())
Material:
mass = 1.0
density = -1.0
atoms per molecule = -1.0

Fe     1.0
Material:
mass = 1.0
density = -1.0
atoms per molecule = -1.0

**Fe54   0.056455582260770826**
Fe56   0.9190152877284079
Fe57   0.021603686168514644
Fe58

[2019-09-19 16:15] gonuke commented on #1177
Thanks for submitting this.  It also appears that Mn has gone missing.  We'll investigate.

[2019-09-19 17:15] gonuke commented on #1177
Which version of PyNE are you using?  This does not happen in my version of PyNE

[2019-09-19 23:03] petersondroogh commented on #1177
pyne.__version__
'0.5.11'

On Thu, Sep 19, 2019 at 11:16 AM Paul Wilson <notifications@github.com>
wrote:

[2019-10-02 15:02] bam241 opened #1181 "char* vs string"
Developing the MaterialLibrary C++ API, this has been raised as a concern (by @pshriwise ).

here  is the quote of the beginning of the conversation from #1104
If you have any though about this, please jump in.

@pshriwise :

@bam241 :

[2019-10-02 15:06] bam241 opened #1182 "Material uniqueness and identification"
Trying to implement the MaterialLibrary in the C++ API this concern has been raised (see #1104 )

(Before I start implementing it, @makeclean @gonuke any thought about this ?)

The bottom question is:
Shall we keep name as unique identifier for material in the MaterialLibrary ?
Or shall we rely on the Material object hash as an unique identifier for the Material in the MaterialLibrary ?

I personn

[2019-10-02 15:12] bam241 opened #1183 "Material & MaterialLibrary Operations"
@pshriwise in #1104 suggested to allows operation between multiple Material or multiple MaterialLibraries (not between a Material and a MaterialLibrary).

I thing that a good idea, but we need to define some mathematical ground for those operations specially for subtraction:
how do we deal with negative quantities ? do we set then to 0 ?
the problem there will be the mass balance because:
`A - B =

[2019-10-02 15:47] pshriwise commented on #1181
I think only using the `std::string` would be better if it's possible!

[2019-10-02 15:52] pshriwise commented on #1182
Agreed on using the `id()` of the object to uniquely identify a material object, @bam241. Maybe even better would be to use the address of the underlying C++ object. Correct me if I'm wrong, but if you have two Python `Material` objects with the same `inst_` attribute. They are going to behave exactly the same, right? But maybe material creation and copying is setup such that this can never happen

[2019-10-02 17:16] gwenchee opened #1184 "Conda install is really slow"
@robfairh and I are trying to install pyne on our ubuntu machines (18.04 and 16.04) using conda:
`conda install -c conda-forge pyne` . we started installation yesterday afternoon. But it is continuously trying to find shortest conflict path and not installing Pyne. Does anyone know what the issue is?

This is what it looks like:
[code]

[2019-10-02 17:38] pshriwise commented on #1182
As far as querying a material by name in the library goes, a convenience method like `get_mat_by_name` (and maybe another like `get_mat_by_id` also) on the `MaterialLibrary` would be useful?

[2019-10-02 18:12] pshriwise commented on #1183
So for the `MaterialLibrary`, here are my initial thoughts:

### `MaterialLibraryA` + `MaterialLibraryB`

The resulting library is a combination of unique `Material` objects in `MaterialLibraryA` and `MaterialLibraryB`.

#### Corner cases

  - If a `Material` object is in both libraries and the key for that material is different in each, then I'm thinking we'd raise an exception there. I'm not sur

[2019-10-02 18:55] gwenchee commented on #1184
I realize that this is an issue with my conda, not pyne.

[2019-10-02 18:55] #1184 closed, assigned to nobody

[2019-10-04 17:15] robfairh opened #1185 "Conda Package Manager breaks Cyclus"
When installing Cyclus dependencies using conda following the instructions on:
https://github.com/cyclus/cyclus and then installing pyne using conda package manager ``` conda install -c conda-forge pyne ``` causes Cyclus to stop working.

This is the message error passed by Cyclus when trying to run it after installing pyne:
[code]

I think the cause is that the conda package manager is using olde

[2019-10-04 17:20] bam241 commented on #1185
@bam241 believe `Conda` is slowly trying to kill him, in a very slow and painful way....

where did you get you cyclus install from ?
- if you compiled it form source, try to recompile/install `cyclus`
- if you got a pre-compiled version from conda try to install Pyne and cyclus with the same command line

[2019-10-04 17:48] robfairh commented on #1185
I compiled Cyclus from source. After installing Pyne, I recompiled it and this is the error message I got:
[code]

[2019-10-04 18:36] bam241 commented on #1185
The problem there is the PyNE you are trying to install is 2years old.
The issue you have is on Boost, that (from what I seen online) seems to not have been compiled with c++11....

my advice there is to install Pyne from source...

[2019-10-04 18:42] robfairh commented on #1185
Will do! Thanks. Should we close the issue then?

[2019-10-04 19:39] bam241 commented on #1185
I don't know...

[2019-10-04 20:44] gwenchee opened #1186 "Error when installing pyne from source"
This error occurs when installing pyne from source :

https://gist.github.com/gwenchee/c234bcff5a1810f75aa096bbba1cdea2

[2019-10-04 20:45] gwenchee commented on #1186
This is fixed by adding `SET(BUILD_SPATIAL_SOLVER false)` to line 28 of `pyne/CMakelist.txt`

[2019-10-04 20:45] gwenchee commented on #1186
Thanks @bam241!

[2019-10-04 20:45] gwenchee commented on #1185
This is fixed by installing from source instead: https://github.com/pyne/pyne/issues/1186

[2019-10-04 20:45] gwenchee commented on #1185
@robfairh close this issue?

[2019-10-04 23:03] bam241 commented on #1186
You should not close this, this is not resolved, the fix I provided you is not good enough...

[2019-10-08 22:20] bam241 opened #1187 "uwuw material name"
I thought would be useful if the pyne::Material would know how to form the `uwuw` material name...

[2019-10-15 08:43] zxkjack123 commented on #1183
For material operation, I think we should define them similar to it's physics properties (both composition and density) change in real applications.
For example, when we `add` two materials A and B, I think we are making a mixture of them, such as get the homogenized material of A and B with a specific volume fractions. `Mat_C = vol_frac_A * mat_A + vol_frac_B * Mat_B`. Both the nuclide compositio

[2019-10-15 12:30] gonuke commented on #1181
My only question is whether this is due to some subtlety of cython that we are not appreciating?

[2019-10-15 12:33] gonuke commented on #1182
I don’t think we should compare materials by their composition.  A user may have reasons to have two identical materials with different names/ids in their library.

I think name in the dictionary/map should be the UID, and metadata should be ignored/optional.

Is there a use case that I’m missing?

[2019-10-15 12:36] gonuke commented on #1182
I suppose the use case is #1183

[2019-10-15 12:40] gonuke commented on #1183
@zxkjack123 - the above discussion is about operations on entire libraries, not individual materials.

[2019-10-15 12:45] gonuke commented on #1183
I think we should be pythonic here: a `MaterialLibrary` should behave like a python dictionary.  Thus, there are no arithmetic operations. (Although some are proposed in [PEP 584](https://www.python.org/dev/peps/pep-0584/)

Furthermore, the nearest method is `update()` that acts only on keys and is not commutative: `a.update(b)` is not the same as `b.update(a)` if `a` and `b` share keys

[2019-10-15 15:16] bam241 commented on #1181
this is very possible, but in the past we have been using both without issue...

reverting to one an other is not that hard (if we are able to pin point the issue...), so I incline to follow @pshriwise recommendation

[2019-10-17 16:12] pshriwise commented on #1183
I think that's a good call, @gonuke. It will simplify operations considerably and make cases with overlapping keys/materials straightforward as the `update` method is more clear in how that will be handled in that we know what set of keys should take precedence over the other.

[2019-10-17 16:18] pshriwise commented on #1183
@zxkjack123 - I think some of the mixing operations are currently available with PyNE's `MultiMaterial` class? That kind of mixture would be more than the `+` operator could support.

I do like the idea of adding a method for removing a nuclide or set of nuclides from a material followed by a renormalization of the material composition with the remaining nuclides.

[2019-10-17 16:26] gonuke commented on #1183
Actually, there are a lot of robust mixing capabilities directly in `Material`.  This is one of the "killer" use cases for PyNE since it reduces opportunities for errors in mixing/homogenizing materials.

[2019-10-17 16:36] pshriwise commented on #1182
Agreed. I don't think what I'm suggesting would keep this from happening. A user could still have two different `Material` objects that will behave the same in simulation. When referencing the composition, I'm trying to figure out the set of information that will allow us to determine if they'll behave the same.

[code]
This might be simulation/physics code dependent and depend on metadata which,

[2019-10-17 16:38] pshriwise commented on #1183
So there are! Maybe we aren't so worried about operators on the `Material` class then?

[2019-10-17 16:40] pshriwise commented on #1181
@gonuke I'm not sure, but I think it's worth exploring unless those C-type signatures are being used elsewhere. Maybe @bam241 and I can sit down together at some point to sort it out. It may not be worth holding up #1104 at this time.

[2019-10-17 16:43] gonuke commented on #1182
Regarding comparisons: I was only thinking in the context of the `MaterialLibrary` class and how we might use these notions.

I agree that it's an interesting question from the point of view of the `Material` class and whether/how we should define operators like this.  Since it may be application specific, we might need to define application-specific versions of these.

Regarding UID/key: I think

[2019-10-17 16:48] gonuke commented on #1181
Hmmm... I wonder if this is here to make things callable from C or FORTRAN?

[2019-10-17 16:50] pshriwise commented on #1182
Comparisons:
I see! I think I misunderstood your concern. Yes. From the standpoint of having a collection of objects, we should compare the objects themselves.

And yeah, I was wondering about application-specific comparisons too. I'd like to think that there's some way to know that if one were to prepare two materials for a specific application in the same way (via metadata updates, density setti

[2019-10-17 16:53] pshriwise commented on #1181
Possibly! That would make sense. Is that done with PyNE anywhere that we know of?

[2019-10-18 14:41] bam241 opened #1189 "Material metdata: mat_name vs name"
Today with @pshriwise we spotted that in Material.cpp the openmc() methods expect the material name to be in the metadata as `mat_name` where all the other method uses `name`.

For consistency this has to be fixed.

But shall we break backward compatibility and suppress mention of `mat_name` or try to find a fix for it ?

[2019-10-18 14:49] pshriwise commented on #1189
If the other name methods were using `mat_name` before, we can probably just change the openmc method to use `name` and we'll be fine. I'll take that on as I was the one who added it in the first place. I'll also go ahead and remove `mat_name` from our test materials - unless there is some other reason for them to be there?

[2019-10-18 14:51] pshriwise commented on #1189
Looking at `material.cpp` further, maybe the metadata attribute to focus on is `mat_number`. Should that just be `number`?

[2019-10-18 15:00] bam241 commented on #1189
that would make sense but again break backward compatibility

[2019-10-18 15:02] pshriwise commented on #1189
Yup.

[2019-10-18 18:06] kyfranzen opened #1190 "Installing Pyne with conda problem"
After installing PyNE with conda I got the following error when running r2s.py setup:

pyne-env) [ken@attila r2s_run]$ python r2s.py setup
Traceback (most recent call last):
  File "r2s.py", line 3, in <module>
    import ConfigParser
ModuleNotFoundError: No module named 'ConfigParser'
(pyne-env) [ken@attila r2s_run]$ python2 r2s.py setup
Traceback (most recent call last):
  File "r2s.py", line 6,

[2019-10-18 18:15] gonuke commented on #1190
I think the short answer is that conda support for pyne is out of date, particularly for use in R2S workflows.

We do have a repository with [installation scripts](https://github.com/pyne/install_scripts) that might help you build from source.

[2019-10-18 18:17] gonuke commented on #1190
P.S. the [pyne-dev](https://groups.google.com/forum/#!forum/pyne-dev) and/or [pyne-users](https://groups.google.com/forum/#!forum/pyne-users) mailing list may be better places for this kind of question

[2019-10-22 02:22] gonuke commented on #1187
Resolved in #1188

[2019-10-22 02:39] #1189 closed, assigned to pshriwise

[2019-10-22 18:08] kyfranzen commented on #1190
Thanks, I will try that option.

[2019-10-30 14:22] gonuke commented on #720
I think the issues in endf go beyond style.  ENDF is a fixed format FORTRAN based format and the ENDF module has been written with seek, reed, tell paradigms that need to determine a line length, etc.  I think a readline and tokenizing paradigm will be better.

In reviewing #1180 it became apparent that the existing code was hard to read and maintain.

[2019-11-27 16:44] ypark234 opened #1194 "Support for docker image for PyNE on docker hub"
I was recently advised to build a docker image for my project based on PyNE to enhance testing it on CI.
While looking at pyne docker hub, I realized that there is no docker image with basic PyNE installed for users to fetch and build on.

@bam241 further suggested to automate the process of updating PyNE-prebuilt docker images on docker hub whenever there is an update on PyNE for users.

[2019-11-27 16:49] bam241 commented on #1194
Yes I think we should support both `develop` version and last tagged version as available containers for people to use or build on top of.
We could set triggers in the CI to automatically update, the docker image on `develop` merge and new tags (= new release)

[2019-11-27 21:01] gonuke commented on #1194
Maybe automating it should be a different issue.  We can probably go ahead and publish some images right now!

[2019-12-04 21:00] bam241 opened #1195 "Multi-particles tally definition"
I want/need to allow the `PyNE::Tally` to deal with multiple particles tallies.

It will ultimately only change the `std::string particle_name` into a `std::vector<std::string>` particles_name
(for the tally information data structure)

My problem is in the `write_hdf5` and `read_hdf5`, that now it is basically forming and writing:
[code]
into the hdf5 file.
I could probably replace the `const cha

[2019-12-10 02:12] pedrojrv commented on #902
I am still facing this issue. Conda cannot find the package. This is in Windows 10. Any updates?

![image](https://user-images.githubusercontent.com/36640400/70489052-6daee980-1aaf-11ea-80e8-c083f5d11c3e.png)

[2019-12-10 11:42] bam241 commented on #902
Hi, I am not sure we support windows install.

More over the `PyNE` `conda` package is 2 years old...
my advice is to install dependencies using `conda` and then build  PyNE` from source (I have no experience building `PyNE` from source, but I'll happy to assist you, if I can

[2019-12-19 18:48] bohmt opened #1203 "increase precision for "C density" comment in write_mcnp"
The method write_mcnp creates an MCNP material card from a PyNE material with a comment line indicating the density.  Currently it only provides a precision of 1.  For example:
C density = 6.3
m1
     2003 -5.6948e-12
     2004 -5.6400e-06
...
It would be helpful for quality assurance and reviewing purposes to increase the precision to at least 3 and perhaps as high as 5 or 6 depending on the appl

[2019-12-20 14:36] #1203 closed, assigned to nobody

[2020-01-20 17:19] robfairh commented on #1185
This issue can be avoided installing PyNE from source.

[2020-01-20 17:19] #1185 closed, assigned to nobody

[2020-01-21 02:28] gonuke commented on #1185
Thanks for closing this, but I just realized that Cyclus does not depend on PyNE.  We probably should have flagged that from the beginning...

Why do you need to have PyNE at all to install Cyclus?

[2020-01-21 03:35] robfairh commented on #1185
I probably did not describe the issue properly. The problem was the following:
- Cyclus dependencies were installed using conda
- Cyclus was installed from source
- Cyclus was working properly
- pyne was installed using conda
- pyne was working properly
- Cyclus stopped working

[2020-01-28 23:41] phll opened #1206 "Update decay half_life data"
Hi,
I as far as I can tell the data for the half lifes is a little old (endfs 2017). Is it possible to update the data to a more recent version (preferably the one used in nudat 2.8)?

[2020-01-29 23:44] gonuke commented on #1206
Thanks for the suggestion @phll  - we'll have to see who has time to devote to this.

[2020-02-10 12:56] tkittel opened #1209 "PyNE ENDF reader fails to load SiO2 and benzene files from ENDF/VIII.0"
Hi there,

First of all, thanks to everyone creating/maintaining such a nice project!

While using the pyne.endf module to extract some thermal scattering laws, I noticed that 3 files from the recent ENDF release could not be read. They are the two SiO2 files and the benzene files in the Thermal Neutron Scattering Sublibrary at https://www.nndc.bnl.gov/endf/b8.0/download.html .

After some investi

[2020-02-11 15:42] bam241 opened #1210 "Downloading ENDF issue (in test)"
Here is what we get when running `nosetest` in CI:
[code]

I am wondering if it is a temporary issue, from `http://t2.lanl.gov/nis/data/data/ENDFB-VII.1-neutron/U/` that will eventually be fixed, or if this is a deeper issue that we have to tackle...
Any thoughts ?

[2020-02-11 15:50] gonuke commented on #1210
Hi there,

When I go there manually, I get this message:

System Unavailable
We are currently performing scheduled maintenance.

Paul

On 2/11/20 09:42, Baptiste Mouginot wrote:

--
-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ --
Paul P.H. Wilson (he/him/his)
Grainger Professor of Nuclear Engineering
Chair, Department of Engineering Physics <http://engr.wisc.edu/ep>
Chair, Energy Analysis and

[2020-02-11 19:26] bam241 commented on #1210
seems to be an issue on there side.
Closing

[2020-02-11 19:26] #1210 closed, assigned to nobody

[2020-02-20 21:50] gonuke commented on #1209
Thanks for this update @tkittel and the detective work to sort it out.

I encourage you to submit a pull request to have this modification reviewed and introduced into the PyNE code base.

[2020-03-03 08:34] tkittel commented on #1209
Ok, will do when I find the time (probably next week).

[2020-03-06 12:29] gonuke opened #1213 "Develop a new strategy for downloading test files for CI"
PR #1212 introduced a system to ensure that failure to download files from their original locations (e.g T2 at LANL) doesn't cause tests to fail.  This was a growing challenge as it results in an obstacle to merging additions since CI was failing.  The current solution is to detect a failure to download and formally skip the test.

A better solution would be to store a copy of the necessary files

[2020-03-11 18:15] ananyashreyjain opened #1215 "Error importing data from pyne"
I used ```pip3 install pyne``` to install pyne.

Error:
[code]

[2020-03-11 18:33] bam241 commented on #1215
Hi, I am unsure of which version you get while `pip install Pyne` this is not one of the supported way to install pyne.
when I tried it I got version 0.1.0 which is about 7y old :)

Also where do you get this error from ? I can't reproduce when importing `pyne` installed with `pip`

I would suggest either using `conda` or installing from source...

[2020-03-11 18:43] ananyashreyjain commented on #1215
Thanks for the quick response. Using ```from pyne import data``` gave this error. I think I will switch to conda to install pyne. I am closing this issue since using pip is not a supported way of installing pyne.

[2020-03-11 18:43] #1215 closed, assigned to nobody

[2020-04-02 07:08] isabella897 opened #1217 "Material.decay_heat() RuntimeError"
I am trying to use .decay_heat(), but I am getting a RuntimeError with a message of multiple black diamonds and random letters.  For context: I am testing it with a simple material, test = Material({'U238': 0.96, 'U235': 0.04}, 42) and defining the material is working fine as I can print the material data.  I'm doing this in Spyder in the PyNE ubuntu virtual machine.  Has anyone gotten this error/

[2020-04-02 11:39] gonuke commented on #1217
Thanks for this feedback.  As a quick question, are you able to share the smallest snippet of code that reproduces this error?

Also, I think the virtualbox image is quite old (18 months), and perhaps needs to be updated.  Are you able to install PyNE in any other way?

[2020-04-02 16:55] isabella897 commented on #1217
from pyne.material import Material
test = Material( { 'U238' : 0.96, 'U235' : 0.04}, 42)
decay = test.decay_heat()

I only have access to a Windows 10 machine currently.  Instead of the virtualbox, I could download the Windows subsystem for Linux and try installing PyNE on that if you think that would be better.

[2020-04-04 19:19] gonuke commented on #1217
This works in newer versions of PyNE.  I am not sure how well WSL will work with PyNE.  I wonder if @ljacobson64 has tried it?

We'll also see about getting a new virtualbox uploaded.

[2020-04-04 19:31] ljacobson64 commented on #1217
I have successfully built PyNE on WSL, but I have not tested it. The installation procedure is identical to how one would install it on regular Linux. I would be very surprised if any of PyNE's functionality that is known to work on regular Linux didn't work on WSL.

[2020-04-07 14:09] katyhuff commented on #1217
This was fixed in a zoom call with screen sharing.
Updating the source code from github, reinstalling, and rebuilding the database was sufficient to fix this issue.

[2020-04-07 14:09] #1217 closed, assigned to nobody

[2020-04-09 16:29] bohmt opened #1219 "Error in PyNE website documentation for .mcnp() method in material package"
The documentation on the PyNE website for the .mcnp() method seems mis-written.  One can get a string to print an MCNP material card in either mass fraction (default) or atom fraction.
.mcnp() prints by mass fraction
.mcnp('atom') prints by atom fraction

 The documentation on the web page says:

mcnp()

    Return an mcnp card Parameters ———-

        int 0 means use “mass” as the frac_type

[2020-04-09 17:23] gonuke commented on #1219
I believe this just requires rebuilding the site - the documentation has been improved/corrected at the source.

[2020-04-09 17:41] gonuke commented on #1219
Looks like @bam241 was the last to rebuild the website in June 2019

[2020-04-09 17:56] bam241 commented on #1219
are you sure this is populated by the same section I tweaked ?
I can try to rebuild and see if there is any improvement...

[2020-04-27 16:48] katyhuff commented on #744
@moatazharb @andrewryh why does this remain open ? Have the commits referenced above not quite fixed the issue? I know new issues may be arising (CC @ZoeRichter) with this depletion parser with newer versions of serpent but they seem to be different.  Any thoughts here?

[2020-04-27 17:02] andrewryh commented on #744
I think I fixed it: https://github.com/pyne/pyne/pull/891
And this fix went to 0.6 release.

In fact, I having to problems with parsing _dep.m files from Serpent 2.1.29-31.

So, we can close this issue though.

[2020-04-27 17:44] katyhuff commented on #744
Ok, sounds good.

[2020-04-27 17:44] #744 closed, assigned to nobody

[2020-05-03 14:11] Rolleroo opened #1223 "Transmute for DecayChain Evaluation"
Hi There,

I am interested in using the transmute function in Pyne as a simple decay chain evaluator i.e. with the neutron flux set to zero.

First of all I get a QA warning, see below, is this a generic warning or is my build not suitable?
"QAWarning: pyne.endf is not yet QA compliant.
return f(*args, **kwds)"

Secondly, and more importantly, is this a valid use of this code? Should I get values

[2020-05-03 18:50] gonuke commented on #1223
Hello Kenny,

I think the `decay()` method will be better suited to this.  It is more robust for pure decay problems.

Paul

[2020-05-03 21:09] Rolleroo commented on #1223
Hi @gonuke , thanks for that. Is there any documentation on how this operates? I'd like to use it with a Python application?

[2020-05-03 21:41] gonuke commented on #1223
Probably not great documentation, but you can look here: http://pyne.io/pyapi/material.html#pyne.material.Material.decay

Basically,
[code]
will give you a new material object `decay_u_nat` with the composition of the decayed material.

[2020-05-04 10:21] ZoeRichter opened #1224 "Error in serpent.parse_dep's executable"
In serpent.py's function parse_dep, the function runs into an error when trying to execute the file to create the parsed depletion file.  After finding this error trying to run my own dep.m file, I ran the [HGTR single-pebble burnup example](http://serpent.vtt.fi/mediawiki/index.php/HTGR_fuel_pebble_burnup_example), to check that it wasn't simply my error.

And still get the above error.

[2020-05-04 12:24] katyhuff commented on #1224
In your pyne build, is this only seen with output files involving triso particles? It seems like this be at the heart of the issue.

@ZoeRichter I've assigned you because I know you'll be looking into it. Keep us posted in this issue.

[2020-05-04 13:30] ZoeRichter commented on #1224
I hadn't thought of that, so I just ran the [2D pin example](http://serpent.vtt.fi/mediawiki/index.php/2D_PWR_pin-cell_burnup_example), and I get the same kind of error:

I forgot to mention before: My serpent version is 2.1.31

[2020-05-04 18:33] Rolleroo commented on #1223
Thanks @gonuke , yes that does seem like the kind of output I need, awesome!
If possible, I'd like to output activity of the substances without the sum of the products =1. The activity and normalisation functions don't seem to play well with the output. It may well be my Python naivete coming through, however the syntax doesn't seem obvious from the Materials module functions.
Any assistance grate

[2020-05-04 23:47] gonuke commented on #1223
A PyNE Material is made up of a composition vector and a total mass.  The composition vector is expressed, by default, in weight percent and thus will always sum to 1.  It is possible to define a different total mass.

`u_nat.mass = 1000`

When it decays, the mass may change because of mass lost from radiation particles (e.g. alpha), but will be close to the mass you have defined.

The activity me

[2020-05-30 21:02] marc1uk opened #1226 "ENDF-reader example is broken"
Trying to run the [endf-reader example](https://pyne.io/examples/endf_reader.html) as-is on the website gives the following error when attempting to load the U235 data file:
`u235 = Library("U235-VII.txt")`
`xs_data = u235.get_xs(922350000, 16)[0]`
[code]
After noticing that the printout from the evaluation info on the website was different to the files downloaded from the linked source, I tracked

[2020-06-01 15:47] efp opened #1227 "HDF5 1.12 Compatibility"
Greetings,

I just tried a fresh build with HDF5 1.12, and there was one api compatibility issue, which I was able to solve by adding

`#define H5_USE_110_API`

before the project includes in **material.cpp.**

It would probably be better to put that define in the build flags, or if there were a config.h type header, but I didn't see an easy way to do either of those things.

[2020-06-01 17:21] gonuke commented on #1227
Thanks for this comment @efp !  We have a fix for this that is nearly ready to be merged into the code in #1220

[2020-06-16 02:15] #1224 closed, assigned to ZoeRichter

[2020-06-18 00:19] mehmeturkmen commented on #1119
Hi,
I successfully installed the PyNE from the source code (with the command: python setup.py install --user) of 0.5.11 version to the desktop computer in the Conda environment with Python 3.8 in Ubuntu 20.04. Then I followed the same procedure to install into a cluster, with the same Conda environment, I even compiled everything with no errors. But, I got an importing error same as #1119 issue.

[2020-06-18 09:36] gwenchee commented on #1119
Thanks Memo! I'm currently not using PyNE anymore, but this will be helpful for future users. I'll close this issue for now, since you have provided a solution.

[2020-06-18 09:36] #1119 closed, assigned to gwenchee

[2020-06-22 14:02] ZoeRichter opened #1232 "Pyne is deprecated as of python 3.7"
I have python version 3.7.4 installed on my machine running Ubuntu 18.04.  When I import pyne, I get the following block of warnings:
[code]

If it will stop working as of 3.8, I'm thinking that there should be something to change the ABC implementation for users with python 3.7+

[2020-06-23 17:35] gonuke commented on #1232
Thanks for pointing this out @ZoeRichter - I have a fix in the works in PR #1233

[2020-06-24 19:54] bam241 opened #1234 "Replace raw pointer usage in Cython/C++ to shared_ptr"
Most of call from the Python API to the `C++` API, rely on implementing `Python`/`Cython` object, that contains a `C++` pointer.

Because of this nesting, it is hard to track who has the ownership of this pointer, an therefore which entity should take care of the deallocation.

This is particularly try in the case of the Material, and the MaterialLibrary.
When we get a `Material` from the a `Mater

[2020-06-24 21:26] bam241 commented on #1234
I started this in my [shred_mat_ptr](https://github.com/bam241/pyne/tree/shared_mat_ptr) branch

[2020-06-26 21:15] bam241 commented on #1187
this has been resolved.
closing

[2020-06-26 21:15] #1187 closed, assigned to nobody

[2020-06-29 18:01] murphy-jw opened #1235 "PyNE not working in OSX virtualenv"
Hello,
I have created a Python 2.7 virtualenv, installed the dependencies, and then successfully built from source, however, after building I am not able to run nuc_data_make or import pyne in python. If I try I get the following error:

[code]

This error happens no matter if I try to run the nuc_data_make from within the build directory or not. One thing that may be causing an issue is that I ha

[2020-06-29 18:17] katyhuff commented on #1235
When you cloned pyne into your virtualenv folder, did you do it with git, or by copy-pasting something from a Linux machine? The reason I ask is that there is a distinction between the filenames built on macosx (.dylib) and Linux (.so).  It seems you have a `.so` file (pyne_config.so) that likely wasn't built on your mac, but was rather generated elsewhere...

FWIW, I have a source-built pyne work

[2020-06-29 18:22] murphy-jw commented on #1235
No, I cloned it from my terminal on OSX. Not sure if I had virtualenv activated when I cloned, but I believe that I did, if that makes a difference. Going to try to install via macports now.

Edit: Macports didn't work either:

[code]

[2020-06-29 20:31] katyhuff commented on #1235
Ah, I would not have recommended adding another python in this case. When you say you tried to install via macports, do you mean you installed a new python, or do you mean you tried installing pyne via macports?

Please note, my original question was about cloning pyne. I should ask specifically : did you use `git clone`? (I recognize all of this is happening in the terminal.)

Can you share the o

[2020-06-29 21:14] murphy-jw commented on #1235
I did have to install another version of python (2.7.8) using macports, and some dependencies. Sorry for diversion.

Back to original question - yes, I used `git clone` to get the source code. I don't have the output of the history anymore beyond what I've already shared.

For the time being I switched to openmc, which I was able to compile, as I am immediately just looking for a way to query and

[2020-06-29 21:26] bam241 commented on #1235
I am not sure it is helpful, but I just successfully compiled using `macport` and `Python` `3.6.9` an ran `nuc_data_make`
what I did is:
from `PyNE` source folder
[code]
just to be sure I ran the last version version of PyNE develop
[code]
You might have to update your $PYTHONPATH and $PATH to have both the lib and the script found properly...
Hope this helps.

The actual `conda` `PyNE` package is

[2020-06-29 21:42] katyhuff commented on #1235
Yeah, I'll confirm what Baptiste has said. This is what works on my mac:

[2020-07-01 20:54] benjaminpthomas opened #1236 "PyNE source install error"
I'm attempting to install pyne from source following the instructions.
I've pasted the error message I get below.

I presume the pyne version I'm using is the most recent: I git cloned it today. I'm installing on the TACC machine stampede2 (more info here:https://portal.tacc.utexas.edu/user-guides/stampede2).

Unfortunately installing using conda is not an option for me.

Thanks in advance.

[code

[2020-07-02 01:31] gonuke commented on #1236
Thanks for pointing this out @benjaminpthomas

It appears to be related to a transient compiler compatibility issue, but there is a reasonable fix that I've proposed in #1237.  Hopefully we can get it merged quickly.  Feel free to try it out from my branch.

[2020-07-02 01:32] gonuke commented on #1236
(P.S. I don't know what to say about all he CMake warnings - I hope they don't turn into problems down the road....)

[2020-07-02 18:21] benjaminpthomas commented on #1236
Thanks, that seems to have solved the original problem.

The install now gets almost to the end before it hits a bug, apparently to do with fortran compiler versions.
Any advice here? I include didn't include the whole error trace, but this should be the pertinent part:

[code]

[2020-07-02 18:21] benjaminpthomas commented on #1236
p.s. perhaps I should open a new issue with this new bug?

Ben

[2020-07-09 14:32] bam241 commented on #1236
@benjaminpthomas the fix has been merged. could you confirm this is working ?

[2020-07-15 11:27] gonuke opened #1239 "Add build option for AHOT"
The AHOT module in PyNE adds dependencies (FORTRAN/BLAS/LAPACK) that can be non-trivial on many environments.  It would be useful to have a build option that turns off building this module, possibly by default.

[2020-07-20 14:48] ZoeRichter commented on #1232
It looks like #1233 has been merged, so I'll close this issue.

[2020-07-20 14:48] #1232 closed, assigned to gonuke

[2020-07-20 21:53] bam241 opened #1240 "pytaps reference in the tutorials"
The tutorials still use the old `pyne.Mesh` implementation based on `pytaps`

for example the usage of `m.mesh.getVtxCoords(ve)` in the `00-intro` tutorial is outdated.

One ned to update the tutorials to the last `pyne.Mesh` implementation based on `pymoab`

[2020-07-20 21:56] bam241 commented on #1240
@lkissin2 feel free to reply here if you find any additional related issue that seems somewhat related :)

[2020-07-21 01:10] kkiesling commented on #1240
So I have figured out the specific fix for this line, just needs to change to `m.mesh.get_coords(ve)` to match the PyMOAB call.

Though I am having other trouble with this tutorial as it relies on some yt stuff which relies on itaps which is pytaps.

[2020-07-21 01:14] kkiesling commented on #1240
I pip installed yt for this tutorial, so I did not expect this error. (Note, I am on python 2 because _reasons_ so this may not be an issue with python 3)

[2020-07-21 19:37] kkiesling commented on #1240
In reviewing the yt source code, it would appear that the MOAB/PyNE frontend there actually needs updating (last updated 5-7 years ago and relies on itaps still). It may be worth our while to update yt with the newer pyne and moab versions. (source code that is currently causing issues [here](https://github.com/yt-project/yt/blob/master/yt/frontends/moab/data_structures.py)).

[2020-07-23 12:55] gonuke commented on #1240
I wonder if @pshriwise has any thoughts on the yt issues?

[2020-07-23 14:34] pshriwise commented on #1240
I think @kkiesling has the right idea. It looks like there are two functions where `itaps` is imported. One looks like it can simply be removed. The other function has a call in it [here](https://github.com/yt-project/yt/blob/d00da5695bf5b9e29e9fdef97ef4f272ee69731e/yt/frontends/moab/data_structures.py#L128) which needs to be updated to an appropriate call in the PyNE Mesh API (whatever that may b

[2020-07-29 16:21] epassaro opened #1244 "Segfault after v0.7 update"
Hi!

We've updated `pyne` to v0.7 in [TARDIS-SN](https://github.com/tardis-sn/tardis) through `conda-forge` channel and our [Linux testing pipeline](https://dev.azure.com/tardis-sn/TARDIS/_build/results?buildId=2116&view=logs&j=ad07b744-5a1a-5d54-7693-fcb02e666633&t=22166bb3-3c9c-59db-871e-d8f447c89a80&l=162) throws a segmentation fault (the macOS pipeline does not fail).

As far I can see, this h

[2020-07-29 17:17] gonuke commented on #1244
Can you point us to which TARDIS-SN test is failing so we can see how it is using PyNE?

[2020-07-29 17:18] gonuke commented on #1244
I know it's probably in the pipeline output you linked to, but we might find it faster if you can point us to it more directly.

[2020-07-29 21:24] epassaro commented on #1244
The link points directly to line 162:

[code]

This happens straight after `pytest` finishes and outputs the results.

I managed to localize the problem to the `tardis/plasma/tests/test_hdf_plasma.py` test module by running them individually, so my suspicion is the segfault comes after writing HDF files.

Thank you and ping me if I can help.

[2020-07-29 21:49] gonuke commented on #1244
Thanks @epassaro - I saw the line 162, but that didn't help me find that it was in `test_hdf_plasma.py`.  I'll take a look now.

[2020-07-29 21:55] epassaro commented on #1244
No problem! It fails silently (in fact all the tests pass) maybe the segfault is thrown after exiting python?

[2020-07-29 22:18] gonuke commented on #1244
I'm afraid I don't know much about TARDIS, but I don't see anywhere that this test uses PyNE at all.  It might be deep in the dependency tree somewhere, but it appears that throughout TARDIS you only use `data`, `nucname` and `materials`.  Only `materials` does any HDF writing and I don't see that being used in this test.

So I wonder if one of our conda-forge dependencies is forcing a version cha

[2020-07-29 22:27] epassaro commented on #1244
Yes sure, tomorrow or friday would be ok for me.

[2020-07-30 01:08] gonuke commented on #1244
Which time zone are you in?

[2020-07-30 01:13] epassaro commented on #1244
I'm in UTC-03, Buenos Aires.

[2020-07-30 15:09] wkerzendorf commented on #1244
I'd be happy to join on Friday at UTC+1 in Munich.

[2020-07-30 15:52] gonuke commented on #1244
OK - feel free to email me your contact info.  My email address is in my Github profile

[2020-07-31 17:44] epassaro commented on #1244
With @Rodot-'s help debugged our code using GDB, and the result was:

[code]

This is a known bug of `numba` 0.43 on Python >=3.7.4 (see: https://github.com/numba/numba/issues/4323) fixed in 0.45.0.

To be clear:

- Recent `pyne` update in `conda-forge` triggered Python update from 3.6 to 3.7.8.
- `numba` is aggressively pinned to 0.43 in TARDIS environment file.
- `numba` 0.43 has a bug in Python

[2020-07-31 17:44] #1244 closed, assigned to nobody

[2020-08-02 23:24] mcgeochd opened #1245 "Trying to install pyne from anaconda, but apparently it doesn't exist?"
Following the guidance here https://pyne.io/install/conda.html#conda, or even just trying

conda create -n test pyne

doesn't work. If its no longer in conda-forge I would understand that, but according to the installation instructions it is, so I'm a little confused as to whats happened.

Running conda search pyne generates the following log:
[pyne search.txt](https://github.com/pyne/pyne/files/5

[2020-08-04 10:18] gonuke commented on #1245
It looks like you have been trying to install PyNE on Windows using anaconda.  Unfortunately, PyNE is not supported on Windows at this time - only on Mac or Linux.

[2020-08-04 21:22] mcgeochd commented on #1245
Thanks for the heads up, is there an equivalent package for windows that you know of?

[2020-08-04 22:08] gonuke commented on #1245
Which features of PyNE are you trying to access?

[2020-08-05 19:21] mcgeochd commented on #1245
I'm not certain at this present moment. I had hoped to used PyNE to model the performance of an arbitrary nuclear thermal rocket, alongside cantera, thermo, and fluids, but have not yet advanced to the point where I could determine what features would be necessary for that.

[2020-08-05 19:25] mcgeochd commented on #1245
This text: "Conda Package Manager - The conda package manager is ideal for PyNE users on Linux, Mac OSX, and Windows." should probably be ammended in that case to bring it line with other text on the page that excludes windows https://pyne.io/install/index.html

[2020-08-05 20:41] cjwyett commented on #1245
Have you tried the PyNE VirtualBox? Not an ideal solution, but if you're looking to have a play around...

[2020-08-05 21:13] gonuke commented on #1245
I agree @mcgeochd - we are planning to spend some time overhauling the documentation this month

[2020-08-05 22:10] mcgeochd commented on #1245
I haven't but I will now, that would only be a stopgap though as I would prefer to write a full program myself without the need to bounce between that and a 3rd party solution.

[2020-08-10 14:53] #980 closed, assigned to nobody

[2020-08-10 14:54] kkiesling commented on #951
should be resolved by #1097

[2020-08-10 14:54] #951 closed, assigned to nobody

[2020-08-10 14:54] kkiesling commented on #953
should be resolved by #1097

[2020-08-10 14:54] #953 closed, assigned to nobody

[2020-08-10 14:55] kkiesling commented on #952
should be resolved by #1097

[2020-08-10 14:55] #952 closed, assigned to nobody

[2020-08-10 14:56] kkiesling commented on #954
should be resolved by #1097

[2020-08-10 14:56] #954 closed, assigned to nobody

[2020-08-10 14:58] kkiesling commented on #949
should be resolved by #1097

[2020-08-10 14:58] #949 closed, assigned to nobody

[2020-08-10 14:58] kkiesling commented on #957
should be resolved by #1097

[2020-08-10 14:58] #957 closed, assigned to nobody

[2020-08-10 15:01] kkiesling commented on #980
should be resolved by #1097

[2020-08-10 15:01] kkiesling commented on #956
should be resolved by #1097

[2020-08-10 15:01] #956 closed, assigned to nobody

[2020-08-10 15:08] bam241 opened #1246 "outdated mention to Pyne-staging"
Remove mention to `Pyne-staging` in installation instructions

[2020-08-10 15:11] #821 closed, assigned to nobody

[2020-08-10 20:36] #1227 closed, assigned to nobody

[2020-08-10 20:37] gonuke commented on #315
Closing as "won't fix" because 32-bit is even more rare than 6 years ago.

[2020-08-10 20:37] #315 closed

[2020-08-10 20:39] gonuke commented on #819
Closed by #820

[2020-08-10 20:39] #819 closed, assigned to nobody

[2020-08-10 20:46] gonuke commented on #1236
May be pragmatically resolved by a fix to #1239  - if we don't need to build AHOT....?

[2020-08-10 20:54] gonuke commented on #1052
This appears to be a problem with HDF libraries.  Cannot reproduce.  Closing this issues.  If it re-occurs, we'll hope for a new issue.

[2020-08-10 20:54] #1052 closed, assigned to nobody

[2020-08-10 21:43] gonuke commented on #1183
@pshriwise & @bam241 - I wonder if we should revisit this topic following the overhaul to `MaterialLibrary`?  I think we kind of decided to not implement the suggestions here, but perhaps there are some specific use cases that may be of interest?

[2020-08-10 21:44] gonuke commented on #1155
Closed with #1156

[2020-08-10 21:44] #1155 closed, assigned to nobody

[2020-08-10 21:45] gonuke commented on #801
This is being addressed in #1157

[2020-08-10 21:54] gonuke commented on #796
This is resolved by recent updates to the build scripts.

[2020-08-10 21:54] #796 closed, assigned to nobody

[2020-08-10 21:57] gonuke commented on #848
This should be resolved by #1104

[2020-08-10 21:57] #848 closed, assigned to nobody

[2020-08-10 21:58] #955 closed, assigned to nobody

[2020-08-10 21:59] #950 closed, assigned to nobody

[2020-08-10 22:05] gonuke commented on #919
This was resolved in a previous PR

[2020-08-10 22:05] #919 closed, assigned to nobody

[2020-08-10 22:10] gonuke commented on #813
This has been resolved.

[2020-08-10 22:10] #813 closed, assigned to nobody

[2020-08-10 22:13] #948 closed, assigned to nobody

[2020-08-10 22:14] gonuke commented on #877
While the FORTRAN build is generally successful now, it is turned off for conda-forge builds.

Closing this error, but will track features for future conda-forge builds.

[2020-08-10 22:14] #877 closed, assigned to nobody

[2020-08-10 22:16] gonuke opened #1250 "Add features to conda-forge support"
Currently, the following features/dependencies are not available in the conda-forge version of PyNE:

* [x] AHOT (#1305)
* [x] pymoab (#52 in feedstock)
* dagmc (requires upstream work on conda-forge/dagmc-feedstock)
* [ ] openmc (#54 in feesdstock)

(please add others as they are identified)

[2020-08-10 22:17] gonuke opened #1251 "Revise NEWS policy"
Instead of requiring a news file, require changes to the CHANGELOG that are then reviewed.

[2020-08-10 22:20] gonuke commented on #1251
Resolved by #1249

[2020-08-10 22:20] #1251 closed, assigned to nobody

[2020-08-10 22:22] gonuke opened #1252 "Update contributing guide for new CHANGELOG policy"
#1249 changed how we require devs to describe their changes.

[2020-08-10 22:32] gonuke commented on #1060
I think data.pyne.io is gone for ever - not sure where it is/was...  Could look at Rackspace images for `nemo` and `sheeple`?

[2020-08-10 22:33] gonuke commented on #1060
If we can't find the data, we need to change all the references to those files.

[2020-08-10 22:49] gonuke commented on #1194
I think we now have a full set of docker images on dockerhub, but they need to be updated and/or this should be automated.

[2020-08-10 22:50] gonuke commented on #1148
Be sure to pull the contribution from @nathanb01  if it's still useful

[2020-08-10 22:56] gonuke commented on #878
I can't tell if this is a bug or a documentation problem.  If a bug, we should delay it.  If documentation, we should address it.

[2020-08-10 23:07] gonuke opened #1253 "Add MacOS install_script"
Using the Ubuntu scripts as a guide, develop MacOS install scripts based on macports and/or brew

[2020-08-10 23:10] gonuke commented on #1239
There is already a CMake option `BUILD_SPATIAL_SOLVER` that just might not be exposed to `setup.py`?

[2020-08-10 23:13] gonuke commented on #398
This may be tricky for our cross-language system

[2020-08-10 23:15] gonuke commented on #1245
You may also be interested in ARMI: https://github.com/terrapower/armi

[2020-08-10 23:17] gonuke commented on #1190
This will be fully resolved when moab & dagmc support are in the conda-forge build. (#1250)

[2020-08-10 23:19] gonuke commented on #1186
This is related to #1239

[2020-08-10 23:20] gonuke commented on #1236
Probably related to #1239

[2020-08-10 23:24] gonuke commented on #33
Consider mcnp_tools as robust solution

[2020-08-10 23:37] pshriwise commented on #1183
After re-reading it all, it looks like the conclusion was that an `update` method for the `MaterialLibrary` might be useful. That looks like it's covered by the `merge` method at this point though.

[2020-08-10 23:40] #867 closed, assigned to nobody

[2020-08-10 23:41] gonuke commented on #799
This may have been resolved by @zxkjack123

[2020-08-10 23:42] gonuke commented on #738
Closed as duplicate of #739

[2020-08-10 23:42] #738 closed, assigned to nobody

[2020-08-11 00:54] gonuke commented on #1195
closed by #1196

[2020-08-11 00:54] #1195 closed, assigned to nobody

[2020-08-11 00:58] gonuke commented on #1223
Closing since user issue was addressed

[2020-08-11 00:58] #1223 closed, assigned to nobody

[2020-08-11 01:01] gonuke commented on #1181
@pshriwise & @bam241 - is this resolved?

[2020-08-11 01:02] gonuke commented on #1177
Closed due to update and impending release.

[2020-08-11 01:02] #1177 closed, assigned to nobody

[2020-08-11 01:04] gonuke commented on #1166
This was resolved in #1167

[2020-08-11 01:04] #1166 closed, assigned to zxkjack123

[2020-08-11 01:06] gonuke commented on #1182
@pshriwise, @bam241 : I don't think this is resolved, but not sure what the action is, either....?

[2020-08-11 01:08] gonuke commented on #1137
Resolved in #1159

[2020-08-11 01:09] #1137 closed, assigned to zxkjack123

[2020-08-11 01:11] gonuke commented on #1138
Fixed in #1139

[2020-08-11 01:11] #1138 closed, assigned to nobody

[2020-08-11 01:13] pshriwise commented on #1181
Looked through the `material_library.cpp` and `material_library.h` files and it looks like @bam did a nice job of using `std::string` wherever possible.

[2020-08-11 01:13] #1181 closed, assigned to nobody

[2020-08-11 01:18] gonuke commented on #362
See note in cython docs: https://github.com/cython/cython/blob/70d770324a230df6a429d82cf8e8187cd34b9709/docs/src/userguide/source_files_and_compilation.rst#configuring-the-c-build

[2020-08-11 01:20] gonuke commented on #1120
closing as not reproducible

[2020-08-11 01:20] #1120 closed, assigned to nobody

[2020-08-11 01:22] gonuke commented on #1095
fixed with #1141

[2020-08-11 01:22] #1095 closed, assigned to nobody

[2020-08-11 01:23] gonuke commented on #1075
closed through recent updates to Material and MaterialLibrary

[2020-08-11 01:23] #1075 closed, assigned to gonuke, makeclean, kkiesling

[2020-08-11 01:34] gonuke commented on #1031
I think this is resolved.

[2020-08-11 01:34] #1031 closed, assigned to nobody

[2020-08-11 01:49] gonuke commented on #241
This is either resolved or deprecated.

[2020-08-11 01:49] #241 closed

[2020-08-11 01:49] gonuke commented on #243
This is either resolved or deprecated

[2020-08-11 01:49] #243 closed

[2020-08-11 02:03] gonuke commented on #830
This is probably resolved and/or deprecated.

[2020-08-11 02:03] #830 closed, assigned to nobody

[2020-08-11 02:06] gonuke commented on #332
This is perhaps overcome by events.  We can create a new issue if/when the inspiration strikes.

[2020-08-11 02:06] #332 closed

[2020-08-11 13:55] gonuke commented on #871
This is outdated and will not fix at this time.

[2020-08-11 13:55] #871 closed, assigned to nobody

[2020-08-11 14:26] gonuke opened #1255 "Resolve staging of data"
There continue to be numerous references to `data.pyne.io` throughout code base, but this site is offline.
1. [x] determine which data is missing with this site being offline
2. [ ] find missing data and add to github.com/pyne/data (*)
3. [ ] update all references to `data.pyne.io` to pull from pyne/data repository

This encompasses #1060

[2020-08-11 14:30] gonuke commented on #1060
Closing in favor of #1255

[2020-08-11 14:30] #1060 closed, assigned to nobody

[2020-08-11 14:43] gonuke commented on #910
Maybe also see which of these might be added:
https://scholar.google.com/scholar?hl=en&as_sdt=0%2C50&q=pyne+scopatz&btnG=

I also wonder if @epassaro has any publications from the TARDIS-SN group that reference PyNE?

[2020-08-11 15:05] opotowsky commented on #810
@gonuke or @bam241 :

First, the main question directly related to this issue, is whether jupyter notebooks are a dependency. Right now it is listed as a dependency to build _documentation only_ on the [readme](https://github.com/pyne/pyne/blob/develop/readme.rst) but that info is not on the [site](http://pyne.io/install/linux_source.html#linux-source). Additionally `jupyter` isn't in any of the i

[2020-08-11 15:12] epassaro commented on #910
As far as I know the TARDIS [citation guidelines](https://tardis-sn.github.io/tardis/credits.html) mentions PyNE in Acknowledgments ([for example](https://www.aanda.org/articles/aa/full_html/2020/01/aa36137-19/aa36137-19.html)). But you should ask Wolfgang about this.

[2020-08-11 15:15] ZoeRichter commented on #989
I'd like to fix the documentation, but since this is a couple years old - is 2.7.8 still the minimum version, and is python 2 going to be supported going forward?

(and if python2 is still being supported and 2.7.8 is not the minimum version necessary, what is the best way to find the new minimum version?)

[2020-08-11 15:31] ZoeRichter commented on #1164
So right now, the current behavior is to assume any nuclide not found is stable (an infinite half-life).  Is it worthwhile to create a list of known stable isotopes to check against to determine if it returns inf or nan?

[2020-08-11 17:50] gonuke commented on #910
closed by #1256

[2020-08-11 17:50] #910 closed, assigned to ZoeRichter

[2020-08-11 17:59] gonuke commented on #989
Someone should probably test on an older python, but I'm all for changing the documentation to say that Py2 is deprecated and that v3.x is required.  Not sure what minor version of py3 is appropriate, though?

[2020-08-11 18:23] gonuke opened #1259 "Review all FORTRAN build"
There are at least two places where FORTRAN is built:
* AHOT (see BUILD_SPATIAL_SOLVER)
* ENDSF processing tools that are called with `subprocess`

1. [x] We should understand what build options cause these to be built or not, either explicitly through user choices, or implicitly because of missing dependencies/compilers.
2. [ ] We should then design a policy to ensure that these are being tested

[2020-08-11 18:51] epassaro commented on #870
I couldn't reproduce this issue on a fresh Ubuntu 16.04 LTS environment by making a build in a GitHub Actions pipeline, but this warning is thrown when compiling the same file:

[code]

See the configuration file and results [here](https://github.com/epassaro/pyne/actions/runs/204423984/workflow).

[2020-08-11 18:53] nsryan2 opened #1260 "Contributor Code of Conduct enforcement contact information"
Currently @gonuke is listed as the enforcement contact in the Code of Conduct. This needs to be reviewed following a discussion of what PyNE's formal governance model should be.

[2020-08-11 20:03] gonuke opened #1266 "Fix CHANGELOG test"
CHANGELOG test compares against hard-coded `develop` branch and not the branch into which the PR is going.

Should be able to determine the target branch of the PR, but maybe not....

[2020-08-11 21:30] #1164 closed, assigned to ZoeRichter

[2020-08-11 21:30] #1252 closed, assigned to gonuke

[2020-08-12 00:52] gonuke commented on #859
closed by #1262

[2020-08-12 00:52] #859 closed, assigned to opotowsky

[2020-08-12 13:56] gonuke commented on #870
This error is not reproducible, but there are lingering fortran issues captured in #1259

[2020-08-12 13:56] #870 closed, assigned to ypark234, epassaro

[2020-08-12 14:17] opotowsky commented on #982
I cannot reproduce this error. Given that initially it was an old version of PyNE, and the next error could be from an "unclean" reinstall (there's just not enough information), I propose we close this issue.

[2020-08-12 14:19] opotowsky commented on #982
@reflynn If you are still having this problem, feel free to reopen the issue and provide more context for the error. Thanks!

[2020-08-12 14:19] #982 closed, assigned to opotowsky

[2020-08-12 15:30] ZoeRichter commented on #989
Based on a docker I ran, python 3.5.2+ should be the minimum required python, provided we drop support for python 2.  @nsryan2 is working on the dependencies portion of the webpage, is the readme the only thing in the repo that needs editing to reflex this requirement?

[2020-08-12 16:15] ZoeRichter commented on #1266
I'm going to tentatively assign this to myself while I look into it, though I may just report back with what I find

[2020-08-12 16:16] mehmeturkmen commented on #799
@gonuke @bam241 I check this issue out and it seems this issue have been solved by changing from string match to float match.
Following lines, line 371 through 375 had been inserted to `alara.py`

`            # time match, convert string mathch to float mathch

            dt = _find_dt(cond[1], decay_times)

            # create of array of rows that match the nuclide/decay criteria

[2020-08-12 19:20] gonuke commented on #1236
Closing this in favor of #1259 where we hope to address this holisitically.

[2020-08-12 19:20] #1236 closed, assigned to nobody

[2020-08-12 19:36] gonuke commented on #1250
Addressing this will automatically address #1004

[2020-08-12 19:37] gonuke commented on #1004
This is closed in favor of #1250 that will address a variety of capabilities in conda-forge

[2020-08-12 19:37] #1004 closed, assigned to ngranda

[2020-08-12 21:05] mehmeturkmen commented on #1226
This issue is very peculiar to the raw format of ENDF/B-VII.0 library. Except for version 7.0, all other versions of ENDF, including version 8.0, have a "zero" number at the end of the first line of cross-section files. This issue can be solved quickly with a small modification in the file of `endf.pyx`.

[2020-08-12 21:49] #810 closed, assigned to opotowsky

[2020-08-12 22:21] gonuke commented on #1161
Have special dockerfiles in repo that are targets for autobuild on dockerhub.  Then every time there is a merge in dev, it will autobuild.

[2020-08-13 01:03] opotowsky commented on #894
Since the rest of the file uses `%s` I will change it to that

(Nevermind, using `string.format()` throughout!)

[2020-08-13 02:30] opotowsky commented on #1051
Should this issue be open, since it was born of multiple pyne installations on one system?

[2020-08-13 10:47] gonuke commented on #1226
I don't think we need to change any code here!  It looks like there is a single case of this file missing an entry and possibly we should just not support that file since it is now outdated anyway?

[2020-08-13 13:47] opotowsky commented on #894
Closing, PR #1275 addresses this

[2020-08-13 13:47] #894 closed, assigned to opotowsky

[2020-08-13 14:04] ZoeRichter commented on #1266
closed by #1267

[2020-08-13 14:04] #1266 closed, assigned to ZoeRichter

[2020-08-13 14:11] mehmeturkmen commented on #1226
That is right. Version 7.0 will be obsolete soon. That was what I was trying to say yesterday. The code, and example in the tutorial, works correctly. Just maybe do we need to mention about this version specific problem some where in the tutorial?
So I am closing this issue.

[2020-08-13 14:16] gonuke commented on #1226
We can also update the location from which we pull the ENDF file in the demo to get a file with the right format

[2020-08-13 15:56] ngranda opened #1276 "Tutorials and Examples Update"
Created to help keep track of what is being updated  and not replicate efforts.

Tutorials
- [x]  Introduction
- [x] Nuclide Naming
- [x]  Materials
- [x]  Nuclear Data
- [x]  Reaction Names
- [x]  Cross Sections
- [x]  Transmutation
- [x]  Mesh Basics
- [x]  Diffusion
- [x]  Outroduction
- [ ]  Spatial Solver
- [x]  ENSDF Processing (This is not linked on the site so that needs to happen too)

Ex

[2020-08-13 15:57] opotowsky opened #1277 "Formatting of printing of materials not ideal"
Before the material library changes, the following command printed:
`list(mats.keys())[:10]`

[code]

And now it prints as such (it's sorted now, which is no big deal, but the outputs are different):
[code]

Is this important? Do we care?

[2020-08-13 16:04] gonuke commented on #1277
Where do you see this?  It might be a consequence of the Py3 update, rather than the MaterialLib update....

[2020-08-13 16:04] gonuke commented on #1277
That is - where do you see the old version?  in an old Notebook?

[2020-08-13 16:14] opotowsky commented on #1277
Yep -- closing the issue since it is py3 and not material-lib!

[2020-08-13 16:14] #1277 closed, assigned to nobody

[2020-08-13 16:22] nsryan2 opened #1278 "Update the zip and tar files after the release of 0.7.0"
Currently, the links that download .zip and .tar source code for PyNE go to the 0.5.10 files. Following the release and finalization of 0.7.0, the links should be changed for the source install instructions to download the current version. These files, following the release of the update, can be found by going to the default branch, clicking on tags at the top, and then copying the archive links f

[2020-08-13 16:52] opotowsky commented on #1276
As per our discussion, the `AttributeError: 'get_ipython' object has no attribute 'run_line_magic'` problem when running all notebooks using `execer.py` will not factor into these fixes unless we find a solution. This magic command error (in our case, from using `%matplotlib inline`) is a [known issue](https://github.com/jupyter/nbconvert/issues/503) when using `jupyter nbconvert`.

[2020-08-13 18:15] opotowsky commented on #1276
@gonuke should we submit each notebook fix as a separate PR or is it OK to clump them? The former is probably better practice but wanted to check you don't prefer the latter.

[2020-08-13 18:17] gonuke commented on #1276
I think it's best to be flexible.  I don't think we need separate PRs for each one, but I also wouldn't want to hold up review to include them all.  If there's a natural break point to PR a group of them together and move on, go for it.

[2020-08-13 18:36] opotowsky commented on #1036
#1271 closes this

[2020-08-13 18:36] #1036 closed, assigned to opotowsky

[2020-08-13 19:11] kkiesling commented on #1240
[PR](https://github.com/yt-project/yt/pull/2856) has been issued in yt to address the yt Sliceplot errors.

[2020-08-13 19:15] kkiesling commented on #1276
There's a one-line fix for the intro notebook that can be found in PR #1241 if anyone gets the chance to grab that one liner (could close #1241 then in favor of a different PR).

[2020-08-13 19:30] nsryan2 commented on #1142
Website Links:

* [ ] In the open ORIGEN Data example note book, there’s a link http://web.ornl.gov/info/reports/1980/3445605762840.pdf that doesn’t work
* CCCC Formats in the user’s guide had several broken links (these all return “Service Unavailable”)
   * [x] http://t2.lanl.gov/codes/transx-hyper/isotxs.html (#1311)
   * [x] http://t2.lanl.gov/codes/transx-hyper/matxs.html (#1311)
   * [x] htt

[2020-08-13 20:10] opotowsky commented on #1276
Left a comment in the PR

[2020-08-13 20:18] ZoeRichter commented on #1276
I'm not finding any error in the mstar_vs_flowrate.ipynb notebook, if no one else has an issue with it, I think it can stay as-is and I'll move on.

[2020-08-13 20:20] opotowsky commented on #1276
Actually I talked w @ngranda and said it would be useful just to rerun them all since they all have QA warnings

[2020-08-13 20:20] opotowsky commented on #1276
(Since that PR was merged, we can have all notebooks QA-warning-less)

You can just let that one piggyback on another PR. I'm not mentioning those changes in the changelog entries

[2020-08-13 20:21] opotowsky commented on #1276
Update: I'm going to take this one on

[2020-08-13 20:56] opotowsky commented on #1276
Is anyone equipped to handle tutorial 05-cross-sections? I'm skipping it for now.

After these two cells:
[code]

I get this error:
`AttributeError: 'EAFDataSource' object has no attribute '_dst_group_struct'`

[2020-08-13 21:02] opotowsky commented on #1276
(Same for 08-diffusion)

[2020-08-13 21:11] opotowsky commented on #1276
Anyone get this when trying to import `pyne.spatialsolver`?

[code]

[2020-08-13 21:29] ngranda commented on #1276
I'll take a look and see if i can figure it out

[2020-08-13 22:11] opotowsky commented on #1276
I found a solution for all the HTTP Errors. If you're working on a notebook that uses `urllib`, please note that `urlretrieve` is actually deprecated. Everything having to do with `urllib` gave me `HTTP Error: 403` or `404`.

What did work when I tested on `examples/ace.ipynb` was the following (which was recommended over the current method on more than one stackoverflow question):

[code]

So if

[2020-08-13 22:14] opotowsky opened #1283 "urllib's urlretrieve is deprecated"
`urlretrieve` is actually deprecated, and in trying to solve a different problem I noticed it throughout PyNE's code.

The following seems to be the recommended approach:

[code]

[2020-08-13 22:46] ngranda commented on #1276
I have tried this and I can import it. I have other problems though

[2020-08-13 23:07] opotowsky commented on #1276
Oh darn -- not sure what to do about this one!

[2020-08-13 23:16] ngranda commented on #1276
I get to line 26 or 27 and then it fails. I get a `Fortran runtime error: End of file.`

[2020-08-14 01:59] kkiesling commented on #1276
The following tutorials and examples make use of yt's moab/pyne frontend and will need some sort of note or warning added to the top of the page (and probably also in the code block with the calls).

Tutorials:
- [x] introduction
- [x] mesh basics
- [x] diffusion

Examples:
- [x] discretized teapot
- [x] FNG model
- [x] mesh tagging

Suggested note to be added somewhere:
_Known error: This code bl

[2020-08-14 02:05] kkiesling commented on #585
I have the feeling that we won't be able to get these theory manual entries developed before a release this week.. There definitely needs to be added theory entries. Perhaps we need to add some sort of contributing guidelines that describes if and when a new theory manual entry needs to come along with a new capability added.

[2020-08-14 02:43] opotowsky commented on #1276
Thanks @kkiesling -- I think the latter suggestion (microrelease) was mentioned as preferable today. I think for completeness we should still add the warning to the notebooks for the current release (in case something delays the yt PR merge)

[2020-08-14 13:19] gonuke commented on #1259
The `transport_spatial_methods` module is built *iff* Linux OS with GNU compiler V >= 4.6.  This is controlled with the `BUILD_SPATIAL_SOLVER` variable, but there is currently no way for the user to override this.

[2020-08-14 13:25] gonuke commented on #1259
We appear to compile but never link any of the ensdf processing tools.  The tests for these automatically turn into `SkipTest` when we fail to find these tools during testing, so it is never detected during testing.

[2020-08-14 13:29] gonuke commented on #727
I agree with @nathanb01 - we should change the title of this link because there is no FORTRAN interface at the moment.  There is fortran code built as part of the transport spatial solvers, but they are wrapped in python and we only publish them through the python interface.

[2020-08-14 13:32] gonuke commented on #727
The interface to the transport solvers is documented as part of the Python API

[2020-08-14 13:45] gonuke commented on #226
Not reproducible, please open new issue if found again.

[2020-08-14 13:45] #226 closed

[2020-08-14 13:49] gonuke commented on #1057
closed by #1281

[2020-08-14 13:49] #1057 closed, assigned to makoziol0

[2020-08-14 13:50] gonuke commented on #1151
New data was merged on github.com/pyne/data and its use in CI was confirmed after #1281

[2020-08-14 13:50] #1151 closed, assigned to nobody

[2020-08-14 14:01] gonuke commented on #1051
Closing - possibly resolved and not reproducible.

[2020-08-14 14:01] #1051 closed, assigned to nobody

[2020-08-14 14:27] kkiesling commented on #1276
Oops, yes, I forgot that was the preferred resolution.

[2020-08-14 15:21] opotowsky opened #1289 "Magic command failure when testing tutorials and examples by running execer.py"
When running `execer.py` on both examples and tutorials as instructed [here](http://pyne.io/devsguide/testing.html), many of the notebooks fail with `AttributeError: 'get_ipython' object has no attribute 'run_line_magic'` This magic command error (in our case, from using `%matplotlib inline`) is a [known issue](https://github.com/jupyter/nbconvert/issues/503) when using `jupyter nbconvert`.

There

[2020-08-14 15:49] gonuke opened #1292 "Add check to avoid CI build/test for pure documentation changes"
To the extent possible, it would be great to detect if a PR has only documentation changes and then skip doing any build/test in CI.

[2020-08-14 17:42] opotowsky commented on #1240
PR #1282 closes this

[2020-08-14 17:42] #1240 closed, assigned to kkiesling

[2020-08-14 17:49] ypark234 commented on #1276
**ORIGEN 2.2: H1 Cross Section** examples requires a file called `BASE_TAPE9.INP`.
Is it kind of a file that I can get from somewhere? (Couldn't find anywhere inside repo)
If it's not a reproducible one, shall we consider adding corresponding input file to repo and let the example use it?

[2020-08-14 17:51] opotowsky commented on #1276
I have re-attempted this after installing `openmc`. (Digging into the code, `pyne/pyne/xs/data_source.py` has `from pyne import openmc_utils`, so I figured that was the problem.) Interestingly, this same error also still appears in `08-diffusion`, even though it doesn't even list `EAFDataSource` in the `xscache` call.

[2020-08-14 17:55] opotowsky commented on #1276
@ypark234  I think it would be fine to do that. I saw a note somewhere that it needed to be a user supplied file, but I think it would be better to have a file accessible. I think there's a `base_tape9.inp` file in the `pyne` directory

[2020-08-14 17:58] kkiesling opened #1294 "periodic testing of yt's frontend for PyNE/MOAB"
We need to implement some method of periodic testing of yt's frontend for PyNE meshes. Through conversation with their development team [here](https://github.com/yt-project/yt/pull/2856), it would make most sense for testing of this frontend to be included on the PyNE side, rather than the yt side. Some considerations for testing: setup auto testing upon merge or upon release (or release candidate

[2020-08-14 18:48] gonuke commented on #1144
closed by #1263

[2020-08-14 18:48] #1144 closed, assigned to bam241, epassaro

[2020-08-14 19:20] gonuke commented on #989
closed by #1288

[2020-08-14 19:20] #989 closed, assigned to ZoeRichter

[2020-08-14 19:43] opotowsky opened #1300 "Two tutorials have XSCache failures"
Both `05-cross-sections` and `08-diffusion` notebooks have the following error:

After these two cells in `05`:
[code]
and this one in `08`:
[code]

I get this error:
`AttributeError: 'EAFDataSource' object has no attribute '_dst_group_struct'`

This is also true after installing openMC and reinstalling pyne.

_Originally posted by @opotowsky in https://github.com/pyne/pyne/issues/1276#issuecommen

[2020-08-14 20:05] gonuke commented on #799
Closed by PR in 2018

[2020-08-14 20:05] #799 closed, assigned to gonuke, bam241, ZoeRichter, mehmeturkmen, nsryan2

[2020-08-14 20:20] opotowsky opened #1301 "List of examples and tutorials notebooks to update after yt issue is solved"
The following tutorials and examples make use of yt's moab/pyne frontend and will need some sort of note or warning added to the top of the page (and probably also in the code block with the calls).

Tutorials:
- [x] introduction
- [x] mesh basics
- [x] diffusion

Examples:
- [x] discretized teapot
- [x] FNG model
- [x] mesh tagging

Suggested note to be added somewhere:
_Known error: This code bl

[2020-08-14 20:21] opotowsky commented on #1300
@ZoeRichter @ypark234 @ngranda I don't think we can solve this today, so I made an issue

[2020-08-14 20:29] opotowsky opened #1302 "Tutorial 11: ENSDF processing's alphad not found"
@ZoeRichter and I got the same error when trying to run tutorial 11, ENSDF Processing.

Code:
[code]
And the error:
[code]

[2020-08-14 22:06] opotowsky commented on #1148
I believe #1285 closes this Issue.

[2020-08-14 22:06] #1148 closed, assigned to nobody

[2020-08-14 22:17] ngranda commented on #1255
Missing files/data

- examples/discretized_teapot.ipynb - teapot h5m file
   * [x] find data
   * [x] update `data/pyne`
   * [ ] update URLs

- examples/fng_model.ipynb  - 2 h5m files
   * [ ] find data - these can be replaced by any DAGMC model with accompanying results/data
   * [ ] update `data/pyne`
   * [ ] update URLs

- pyne/dbgen/simple_xs.py - kaeri data
   * [x] find data - this is prov

[2020-08-16 00:57] kkiesling opened #1306 "nuc_data_make not supported on Ubuntu 20.04 with python3"
I am trying to build PyNE on an Ubuntu 20.04 image. The build is successful until `nuc_data_make` when the it hits an error because it can't find the executable `python`. Ubuntu 20.04 only comes with a `python3` executable and no `python` or `python2` executable. The `nuc_data_make` script needs to be updated to find the correct python executable and use that whether that is `python`, `python2`, o

[2020-08-16 01:32] kkiesling commented on #1306
This might actually be as simple as just running `python3 ./scripts/nuc_data_make` instead of simply `./scripts/nuc_data_make`.

[2020-08-16 02:45] gonuke commented on #1306
Your fix will prob work, in our build process, but is is interesting that U20.04 chose to break this longstanding capability:
`#!/usr/bin/env python` that is specifically designed to help resolve this.
One solution is this:
https://linuxconfig.org/ubuntu-20-04-python-version-switch-manager
That gives a safe way to alias python to python3 (or 2 as the case may be)

[2020-08-16 02:49] gonuke commented on #1306
Apparently there's also a `python-is-python3` package to apt install?

[2020-08-16 02:56] kkiesling commented on #1306
this update-alternatives is actually what @bam241 implemented in our svalinn/dockerfiles for python3. It's worth probably doing that in a docker image or VM but probably not in a standard build script. I don't think we should be setting that in people's systems.

[2020-08-17 02:50] gonuke commented on #1194
I think this is a duplicate of #1161

[2020-08-17 02:50] #1194 closed, assigned to ypark234

[2020-08-17 02:52] gonuke commented on #1219
This was fixed by @ypark234 in #1211

[2020-08-17 02:52] #1219 closed, assigned to nobody

[2020-08-17 02:58] gonuke commented on #1259
I've resolved the problem with not linking the ENSDF processing tools, but they still generate errors when we try to run them, still being converted to `SkipTest`

[2020-08-17 02:59] gonuke commented on #1259
PR #1308 adds some user-level options to control building of AHOT, but it still only happens on Linux with GNU>4.6

[2020-08-17 03:01] gonuke commented on #1302
PR #1307 should fix this.  The tests still fail - not sure why - but maybe there will be more info available through this tutorial?

[2020-08-17 03:03] gonuke opened #1309 "Fix ENSDF failures in testing"
ENSDF processing tools should now be built successfully (#1307) but they still result in errors that are converted to `SkipTest` entries in testing.

Please determine cause of error and resolve.

This replaces #1259 that tasked a review of FORTRAN codes.

[2020-08-17 03:04] gonuke commented on #1259
Some of this is closed by #1308, #1307.  The remainder is replaced by #1309

[2020-08-17 03:04] #1259 closed, assigned to nobody

[2020-08-17 10:15] gonuke commented on #1186
This appears to be a problem that comes from trying to build from source when all your dependencies come from your conda environment!  This might require special testing.

[2020-08-17 10:32] gonuke commented on #1226
closed by #1297

[2020-08-17 10:32] #1226 closed, assigned to mehmeturkmen

[2020-08-17 10:44] gonuke commented on #727
This was closed by #1149, already

[2020-08-17 10:44] #727 closed, assigned to nsryan2

[2020-08-17 14:29] bam241 opened #1313 "Todo at the end of the release:"
- [ ] Update Tar Zip link on Webster (install section) #1278
- [ ] Update VM to the latest develop (use release tag)
- [ ] Publish a new version of the website
- [ ] check install scripts

---------------
fill free to edit and add items to the list

[2020-08-17 14:29] bam241 commented on #1278
closing at it is redundant with #1313

[2020-08-17 14:29] #1278 closed, assigned to nobody

[2020-08-17 14:49] opotowsky commented on #1302
It doesn't fix it for me (did a clean reinstall). Can anyone else reproduce the error?

[2020-08-17 14:50] opotowsky commented on #1302
DUH! It's not merged yet.

[2020-08-19 21:43] paulromano opened #1318 "GNDS support in nucname"
It would be good to add support for [GNDS](https://www.oecd-nea.org/science/wpec/gnds/) nuclide names because 1) it is the intended successor of ENDF and 2) OpenMC uses it for nuclide naming :smile:. To summarize:

- Isotopes are given as symbol + mass number, e.g. `U235`
- Metastables have `_m#` attached, e.g. `Am242_m1`
- Natural elements are symbol + 0, e.g. `C0`

I see that #236 discusses supp

[2020-08-20 00:12] gonuke opened #1319 "occasional/transient failures in `test_variancereduction.py`"
`test_magic_e_total` in `test_variancereduction.py` sporadically fails.  It has only been seen when building pyne on the docker image used for CI testing that includes pymoab, dagmc and openmc.

Because it is transient/sporadic, it is difficult to reproduce and suggests a memory conflict in underlying C++ code somewhere.

[2020-08-20 00:23] gonuke commented on #1283
specifically, you can find it in:
* [ ] `pyne/dbgen/eaf.py`
* [ ] `pyne/dbgen/simple_xs.py`
* [ ] `tests/test_ace.py`
* [ ] `tests/test_decay.py`

[2020-08-20 00:27] gonuke commented on #1050
This is resolved by #1298

[2020-08-20 00:48] gonuke commented on #1306
Can we close this @kkiesling ?

[2020-08-20 00:49] kkiesling commented on #1306
Oh yes. Forgot about it.

[2020-08-20 00:49] #1306 closed, assigned to kkiesling

[2020-08-20 03:00] gonuke commented on #1165
closed by #1316

[2020-08-20 03:00] #1165 closed, assigned to mehmeturkmen

[2020-08-20 03:01] gonuke commented on #1239
closed by #1308

[2020-08-20 03:01] #1239 closed, assigned to gonuke

[2020-08-20 03:03] gonuke commented on #1246
closed by #1315

[2020-08-20 03:03] #1246 closed, assigned to nsryan2

[2020-08-20 03:04] gonuke commented on #1012
Closed by successful merge of new release into conda-forge

[2020-08-20 03:04] #1012 closed, assigned to nsryan2

[2020-08-20 13:29] bam241 opened #1325 "MOAB 5.2.0 compatibility"
We are facing an Incompatibility with MOAB 5.2.0

when running the test when PyNE built against MOAB 5.2.0 we got:
[code]

[2020-09-03 23:09] gonuke commented on #1325
This has been resolved by #1328

[2020-09-03 23:09] #1325 closed, assigned to nobody

[2020-09-07 19:25] shimwell opened #1332 "Low density in Inconel-625"
**Describe the Bug**<br/>
The Inconel-625 entry in the [material compendium ](https://github.com/pyne/pyne/blob/develop/pyne/dbgen/materials_compendium.csv) csv file and it is the same in the pdf version appear to have a low density (2.32g/cm3) where as [other sources ](http://asm.matweb.com/search/SpecificMaterial.asp?bassnum=NINC33)report 8.44 g/cm3
https://github.com/pyne/pyne/blob/develop/pyne

[2020-09-15 17:11] bam241 opened #1335 "Material Number tracking in MateriaLibrary"
The MaterialLibrary in the C++ Api have a `std::set<int>` that tracks the number of the material added into the library. (When adding a Material in the library it check for its numbers and add it to the list, and make a new one if non are present.)

if the material number is changed after the material has been added to the library then the list of number will become out of date....

[2020-09-16 16:39] DuyTrandeLion opened #1338 "Error in setup for Raspberry Pi"
Hello,

I am installing the master branch of Pyne in Raspberry Pi 4 running the Raspberry Pi OS (Raspbian).
My Python version is 3.7.3 and when I run "python setup.py install" I receive this error: "Kind -3 not supported for type REAL at (1)". Does my Cmake have any problem or this is something else?

-- Pyne platform defined as: __LINUX__
-- Checking whether to build spatial solvers
-- -- Checkin

[2020-09-16 16:49] bam241 commented on #1338
This looks like a fortran error ... I am not sure what is is about...

on an other end It seems like your `cmake` is linking against python2 libs: `/usr/lib/arm-linux-gnueabihf/libpython2.7.so`

did you set python3 as your default python ? if so how ?

[2020-09-17 15:51] DuyTrandeLion commented on #1338
Hi @bam241 ,

=> I am trying to link it with Python 3.7

=> Yes I did. I followed the instruction here: https://raspberry-valley.azurewebsites.net/Python-Default-Version/#:~:text=Configure%20Default%20Python%20version%20on%20your%20Pi,-The%20Pi%20(Raspbian&text=As%20of%20this%20writing%2C%202.7,'python3%20mycode.py').

[2020-09-17 20:41] nuclearlizard opened #1339 "Pyne.data branching ratio warning"
**Describe the Bug**<br/>

Hello there. I am currently writing some a simple decay lib implementation tracking fission yield decay using pyne.

I am encountering some strange behavior with some meta-stable states which raise warnings. Having looked through the results I do not believe that the warnings result in errors, but they still bug me (no pun intended).

The behavior does not happen with al

[2020-09-17 22:57] bam241 commented on #1338
the instruction you followed look good for me. (I would have suggested the same.)

about the python linking, I am wondering if it is because you are missing `python3-dev` so cmake fallback on `libpython2.7.so` ...

[2020-09-18 03:43] DuyTrandeLion commented on #1338
I already installed python3-dev but it the problem is still the same so this is may be a misconfiguration of cmake.

[2020-09-18 08:41] MigMagan commented on #1338
It seems that `selected_real_kind` is returning a negative value, i.e: there is no kind data that satisfies those requirements. Are we certain the ARM CPU/compiler in the Raspberry can handle that precision?

Specifying a lower precision, say, `selected_real_kind(15,307)` will likely get rid of that error, but is probably asking for trouble later...

[2020-09-18 17:33] DuyTrandeLion commented on #1338
Hi @MigMagan ,

I still return negative values in my Raspberry Pi C programs and use gcc to build my code. BTW, I also installed gcc-arm-none-eabi in my Pi.

[2020-09-21 05:50] bunder opened #1340 "Build failure: __pyx_builtin_ValueError was not declared in this scope"
**Describe the Bug**<br/>
[code]

**To Reproduce**<br/>
Build with `FFLAGS=-fallow-argument-mismatch python setup.py build`.

**System information:**<br/>
 - OS: ArchLinux
 - PyNE Version: 0.7.1 and 0.5.11
 - Versions of dependencies installed:
   - Python 3.8.5
   - Cython 0.29.14-0.29.21 (I've checked all versions)
   - GCC 10.2.0

[2020-09-26 12:58] alexmalins commented on #1339
This bug is related to the difference between ids and state_ids. The id of Cs135m is 551350001 but the state_id is 551350010, it is the 10th excited nuclear state of Cs135. In `data.branch_ratio'()` the state_ids are being passed to `nucname.id()`, which raises the warning as it doesn't expect there to be any metastable states > 5. Issue #438 covers the introduction of this warning.

Note the bug

[2020-09-30 09:59] alexmalins opened #1342 "Incorrect decay() results for chains containing radionuclides with degenerate half-lives"
**Describe the Bug**<br/>
The Bateman decay solver appears to be giving unphysical results for the decay chains with radionuclides with equal half-lives. For example by decaying Lu-153 for 0 seconds, the material mass more than doubles when it shouldn't change. The Lu-153 half-life is identical to its immediate progeny Tm-149.

**To Reproduce**<br/>
[code]

**Expected Behavior**<br/>
For the above

[2020-10-01 15:31] arekfu opened #1343 "Undocumented dependency on `future` package"
**Describe the Bug**<br/>
Pyne depends on the `future` package, but the dependency is not documented.

**To Reproduce**<br/>
Follow the installation instructions for the source files, without optional dependencies. Then:
[code]

**Expected Behavior**<br/>
The dependency on `future` should be documented.

**Please complete the following information regarding your system:**<br/>
 - OS: Ubuntu Xenial

[2020-10-01 15:32] arekfu commented on #1343
I forgot to mention that installing `future` with `pip install future` fixes the bug.

[2020-10-02 06:34] arekfu commented on #1340
I could reproduce this with today's `develop` version (277f3d7f0c21e77bf72382c4879d6c81c3f96e08). For what it's worth, I found this workaround:

[code]

[2020-10-02 15:35] bam241 commented on #1342
Thx for bring this to our attention.

I was indeed able to reproduce this.

[2020-10-03 14:54] alexmalins commented on #1342
I had a further look into this issue this evening. The terms in the Bateman equations for two nuclides with degenerate half-lives should include a factor _t_ - see last lines of equations in the first two sections of the [decay manual](https://pyne.io/theorymanual/decay.html).

These factors don't make it correctly into the `decay.cpp` from `decaygen.py`. This is because line 270 of `decaygen.py`

[2020-10-04 01:38] alexmalins commented on #1342
On second thoughts it is not clear that re-introducing all the _t_ terms will necessary fix this issue, as for the _t_ = 0 case the terms will all evaluate to zero. Fixing this will require understanding the theory, then drilling into each of the terms in one chain and working out where things are going wrong.

[2020-10-13 15:28] bam241 opened #1345 "Install docs (website)"
in `Most commun install flags` (form `Source install`)
numbering is not increasing.

[2020-10-13 15:33] bam241 opened #1346 "Missing contributors"
I noticed that some of our contributors are missing from the docs.

[2020-10-13 15:35] gonuke opened #1347 "Update copyright years on website"
The website footer indicates a range of copyright years ending with 2019.  Probably need to update this, either manually or automatically.

[2020-10-20 15:05] pshriwise opened #1349 "File format versioning for R2S (and all?) output files."
The output files of R2S (as of #1341 I think this may be only the photon source file) are subject to occasional change. It seems to me that workflows and applications relying on these files would benefit from the addition of version numbers to ensure that a certain format specification can be expected and compatibility with other applications can be ensured.

I'm not as familiar with it anymore, b

[2020-10-23 22:28] bam241 opened #1351 "Simplify MaterialLibrary implementation"
@pshriwise was looking over the `MaterialLibrary` and he suggested of instead of exposing the `std::map<>` methods,
instead one could just have the `MaterialLibrary` class to inherit from `std::map<std::string, std::shared_ptr<Material>>` instead.

this would be a way more elegant implementation.

It might be more complicated on the `cython` side....

[2020-10-24 11:14] zxkjack123 commented on #1349
@pshriwise Can't agree more. The version conflicts happens frequently for me. A pyne version number (x.xx.xx) is not enough to identify the specific version as many it covers many PRs. Maybe the id of the last PR or the hash id of the commit is a good choice of version tag.

[2020-10-27 00:08] pshriwise commented on #1349
Glad to hear you're on board! I think the most common practice is to update the version numbers only when code changes are merged that change the information or organization of the file.

[2020-11-11 01:27] alexmalins commented on #1340
This compile error appears to be related to the installed version of NumPy. The error occurs if NumPy 1.19.4 is installed, which is the latest NumPy release. However the PyNE build is successful with NumPy version 1.17.4.

NumPy 1.17.4 is currently the version distributed via the Ubuntu package manager, so installing NumPy via `sudo apt install python3-numpy` rather than via pip is one workaround.

[2020-11-11 01:41] alexmalins opened #1354 "Release numbers in latest microreleases"
**Describe the Bug**<br/>
Release numbers not getting updated in the latest microreleases (0.7.2 & 0.7.3).

**To Reproduce**<br/>
[code]

**Expected Behavior**<br/>
[code]

**Screenshots or Code Snippets**<br/>
N/A

**Please complete the following information regarding your system:**<br/>
 - OS: WSL Ubuntu 20.04
 - PyNE Version: 0.7.3
 - Versions of dependencies installed with: N/A

**Additional C

[2020-11-11 01:47] gonuke commented on #1354
Yikes!  It happened again - sorry @alexmalins

Perhaps someone can take a run at automating some of this from a single version string, perhaps the one in `setup.py`?

[2020-11-12 01:18] alexmalins commented on #1354
I had a quick look around and some projects are using packages like [versioneer](https://pypi.org/project/versioneer/) or [bump2version](https://pypi.org/project/bump2version/) for updating release numbers. Some discussion [here](https://www.reddit.com/r/Python/comments/47d7ll/automatically_increment_version_on_package_release/). Complicating factor for PyNE is it's not pure Python, but a mix of m

[2020-12-10 18:11] pshriwise opened #1357 "pyne::ValueError::what() returns a pointer to a local scope variable"
**Describe the Bug**<br/>

https://github.com/pyne/pyne/blob/010c3d3bd2b1530aea4d7e00f2771a129a028673/src/utils.h#L229-L236

The currently returned pointer uses a string, `msgstr` that is of local scopt. The returned pointer should rely on a variable that will remain in memory after the method returns.

**To Reproduce**<br/>
[code]

**Screenshots or Code Snippets**<br/>
Code above produces this:?

[2020-12-29 05:04] pshriwise opened #1359 "Set CMP0074 or update optional dependency variable names."
**Describe the Bug**<br/>
[CMake policy 0074](http://shadow.nd.rl.ac.uk/ICP_Binaries/CMake/doc/cmake/html/policy/CMP0074.html) should be addressed in the `CMakeLists.txt` file or those variable names should be updated in `setup.py` and corresponding CMake module files.

I'll submit a PR shortly with the simplest solution -- setting this policy to `NEW` so that the `*_ROOT` variables in the generat

[2020-12-29 08:18] zxkjack123 commented on #1349
Close this PR as file format version has been tagged to `source.h5m` in #1352 .

[2020-12-29 08:18] #1349 closed, assigned to nobody

[2020-12-29 12:07] zxkjack123 commented on #1340
The `except +ValueError` is used only in `cpp_transmuters.pxd`. Other `cpp_*.pxd` files use `except +`. Therefore, changes
[code]
to
[code]
maybe a better solution to avoid this problem.

[2021-01-04 18:05] bunder commented on #1340
@zxkjack123, thank you. Build seems to work with your patch. [I've integrated it into ArchLinux package](https://aur.archlinux.org/cgit/aur.git/commit/?h=python-pyne&id=9167738cd7f684202023bee5a304cdcb72639582).

[2021-01-06 00:15] ljacobson64 opened #1361 "Error in material_library.pyx: Cannot assign type 'char *' to 'string'"
**Describe the Bug**

I'm getting the following error message when building pyne from source:
[code]

**To Reproduce**

[code]

**System information:**
 - OS: Ubuntu 18.04
 - PyNE Version: develop
 - Versions of dependencies installed with: HDF5 1.10.7, MOAB 5.2.0, DAGMC develop

[2021-01-07 13:53] #1359 closed, assigned to pshriwise

[2021-01-07 18:07] ljacobson64 opened #1363 "Error when running nuc_data_make: AttributeError: 'numpy.int64' object has no attribute 'complib'"
**Describe the Bug**

I'm getting the following error message when running `nuc_data_make`:

[code]

**To Reproduce**

Run `nuc_data_make`

**System information**

 - OS: Ubuntu 20.04
 - PyNE Version: develop
 - Versions of dependencies installed with: HDF5 1.10.7, MOAB 5.2.0, DAGMC develop

[2021-01-12 20:35] bam241 commented on #1340
@bunder @zxkjack123 has just been merged, could you confirm (again) it is working for you.
And close this if it is ?

[2021-01-13 01:07] zxkjack123 commented on #1340
@bam241 It works on my machine (Ubuntu 18.04, numpy v1.19.3, cython v0.29.21). Close it.

[2021-01-13 01:07] #1340 closed, assigned to nobody

[2021-01-26 15:59] bam241 opened #1365 "FAIL: Test total energy group MAGIC case"
@pshriwise any idea why this is failing ?
https://app.circleci.com/pipelines/github/pyne/pyne/1246/workflows/6660881a-d998-402e-b4a9-e9ba7d366a45/jobs/11810
[code]
it failed after merge of #1358 (I restarted it 3 times...)

[2021-01-27 05:15] pshriwise commented on #1365
Hrmm, I'm can't see why the changes from #1358 would cause a failure in this test. It seems like an entirely unrelated area of the code.

FWIW I was trying this out locally and did manage to get `test_variancereduction.py` to fail in the same way once, but it seems that it's extremely rare. After noting that I tried restarting CI one more time and it did pass all of the tests

https://app.circleci